.patienthistory-sidebar {
    width: 166px;
    height: 100vh;
    background: #F4F5F7;
    text-align: center;
}

.patienthistory-label-position {
    padding-top: 18px;
}

.patienthistory-label {
    color: #1C3E60;
    font-weight: 500;
}

.user-details-position {
    margin-top: 39px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 23px;
}

.user-name-position {
    margin-top: 7px;
    line-height: 1em;
}

.user-name {
    font-size: 14px;
    color: #849FB4;
    font-weight: 700;
}

.patienthistory-filter-button {
    width: 144px !important;
    height: 40px !important;
    margin: 18px 0px 0px 0px;
    font-size: 12px;
    font-weight: 500;
    color: #0049B0;
    text-align: left;
}

.patienthistory-filter-button:focus {
    background-color: #dddee6 !important;
}

.patienthistory-filter-button:active {
    background-color: #dddee6 !important;
}

.ph-focus {
    background-color: #dddee6
}