<div class="patienthistory-sidebar">
    <div class="top-label-position">
        <div class="patienthistory-label-position">
            <label class="patienthistory-label">Patient History</label>
        </div>
    </div>

    <div class="user-details-position">
        <div class="user-image-position">
            <img src="{{profile_image_url}}" class="user-image">
        </div>
        <div class="user-name-position">
            <label class="user-name">{{(patientInfo.patient_name) ? patientInfo.patient_name : '--'}}</label>
        </div>
    </div>

    <div class="button-position">
        <button mat-button [ngClass]="{'patienthistory-filter-button':true}" (click)='navigateToPatientProfile()'>Profile</button>
        <button mat-button [ngClass]="{'patienthistory-filter-button':true}" (click)="navigateToPatientMedicalHistory()">Medical History</button>
        <button mat-button [ngClass]="{'patienthistory-filter-button':true}" (click)="navigateToAppointmenthistory()">Appointment History</button>
        <button mat-button [ngClass]="{'patienthistory-filter-button':true}" (click)="navigateToLabReports()">Lab Reports</button>
    </div>