<!-- <div [formGroup]="form">
        <label>Property One: </label>
        <input type="text" formControlName="propertyOne"/>
    
        <label >Property Two: </label>
        <input type="number" formControlName="propertyTwo"/>
    </div> -->


<div [formGroup]="addDiagnosisForm">
  <div class="form-group col-xs-6">
      <textarea rows="4" cols="50" class="reason-textfield" formControlName="newdiagnosis"></textarea>
    <!-- <small [hidden]="addDiagnosisForm.controls.street.valid" class="text-danger">
      Diagnosis is required
    </small> -->
  </div>
</div>