<div class="setting-sidebar">
    <div class="top-label-position">
        <div class="setting-label-position">
            <label class="setting-label">Setting</label>
        </div>
    </div>

    <div class="button-position">
        <mat-nav-list class="position">
            <div *ngFor="let link of settingLinks">
                <mat-list-item *ngIf="link.show" class="mat-card-title" [class.shrink]="mDrawerShrink" [routerLink]='link.route' routerLinkActive='highlight'>
                    <span class="nav_title" style="width:100%">{{link.title}}</span>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </div>
</div>