<div class="summary-div">
    <div class="summary-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="summary-form-position">
            <div class="add-summary-row">
                <div class="summary-label-position">
                    <label class="summary-label">Appointment Summary</label>
                </div>
            </div>
            <div class="details-position">

                <div class="patient-details">
                    <div class="patient-details-left">
                        <label class="header-label">Patient Name : <span class="info-label"> Ashish Chutake</span></label>
                        <label class="header-label">Gender : <span class="info-label"> Male</span></label>
                        <label class="header-label">Mobile number : <span class="info-label"> 7507611438</span></label>
                    </div>
                    <div class="patient-details-right">
                        <label class="header-label">Date of Birth : <span class="info-label"> 21/12/1991</span></label>
                        <label class="header-label">Email ID : <span class="info-label"> ashish@fenixwork.com</span></label>
                        <label class="header-label">Address : <span class="info-label"> That Vasti, Ram Nagar,At Post Khardi,
                Dist - Pune, PIN - 442310</span></label>
                    </div>
                </div>

                <div class="acd-div">
                    <div>
                        <div>
                            <label class="summary-sub-label">Allergies</label>
                            <button class="action-button" (click)="navigateToAllergies()">
                <i class="material-icons materialicon-style">
                  edit
                </i></button>
                        </div>
                        <div class="allergies-div">
                            <div class="info-show-small">
                                <label class="info-label-small">Penicillin</label>
                            </div>
                            <div class="info-show-small">
                                <label class="info-label-small">Dust</label>
                            </div>
                        </div>
                    </div>

                    <div class="condition-div">
                        <div>
                            <div>
                                <label class="summary-sub-label">Conditions</label>
                                <button class="action-button" (click)="navigateToConditions()">
                  <i class="material-icons materialicon-style">
                    edit
                  </i></button>
                            </div>

                            <div class="info-show-big">
                                <label class="info-label-big"></label>
                            </div>

                        </div>
                    </div>

                    <div class="diagnosis-div">
                        <div>
                            <div>
                                <label class="summary-sub-label">Diagnosis</label>
                                <button class="action-button" (click)="navigateToDiagnosis()">
                  <i class="material-icons materialicon-style">
                    edit
                  </i></button>
                            </div>
                            <div class="info-show-big">
                                <label class="info-label-big"></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="prescription-div">
                    <div>
                        <div>
                            <label class="summary-sub-label">Prescription</label>
                            <button class="action-button" (click)="navigateToPrescription()">
                <i class="material-icons materialicon-style">
                  edit
                </i></button>
                        </div>
                        <div class="table-position">
                            <mat-table [dataSource]="dataSource" class="clinic-list">
                                <ng-container matColumnDef="drugname">
                                    <mat-header-cell *matHeaderCellDef> Drug Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.drugname}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="strength">
                                    <mat-header-cell *matHeaderCellDef> Strength </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.strength}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="frequency">
                                    <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.frequency}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="duration">
                                    <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="totalintake">
                                    <mat-header-cell *matHeaderCellDef> Total Intake </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.totalintake}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>

                <div class="labtest-position">
                    <div>
                        <div>
                            <label class="summary-sub-label">Lab Test</label>
                            <button class="action-button" (click)="navigateToLabTests()">
                <i class="material-icons materialicon-style">
                  edit
                </i></button>
                        </div>
                        <div class="labtest-div">
                            <div class="info-show-small">
                                <label class="info-label-small">Penicillin</label>
                            </div>
                            <div class="info-show-small">
                                <label class="info-label-small">Dust</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-button-position">
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button" id="saveButton" (click)="openFollowUpDialog()">Set Follow Up</button>
                    </div>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button" id="saveButton">Complete</button>
                    </div>

                    <div class="button-space">
                        <button type="button" mat-button class="mat-cancel-button" id="reportButton">Generate Report</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>