.summary-div {
  display: flex;
  flex-direction: row;
}

.summary-right-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.summary-form-position {
  margin-left: 23px;
  width: 100%;
}

.add-summary-row {
  display: flex;
  flex-direction: row;
}

.summary-label-position {
  flex: 1;
  margin: 18px 0px 0px 0px;
}

.summary-label {
  color: #1C3E60;
  font-weight: 500;
}


.details-position {
  margin-top: 17px;
}


.header-label {
  color: #849FB4;
  font-size: 12px;
  margin-bottom: 20px;
}

.info-label {
  color: #34495E;
  font-size: 12px;
  font-weight: 500;
}

.patient-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.patient-details-left {
  display: flex;
  flex-direction: column;
  margin-right: 81px;
}

.patient-details-right {
  display: flex;
  flex-direction: column;
}

.allergies-div {
  display: flex;
  flex-direction: column;
}

.labtest-div {
  display: flex;
  flex-direction: column;
}

.info-show-small {
  width: 218px;
  height: 34px;
  background-color: #F8F8F8;
  border: 1px solid #CDD9E3;
  margin-top: 10px;
}

.info-label-small {
  vertical-align: -webkit-baseline-middle;
  margin-left: 20px;
  color: #34495E;
  font-size: 13px;
}

.info-show-big {
  width: 402px;
  height: 127px;
  background-color: #F8F8F8;
  border: 1px solid #CDD9E3;
  margin-top: 10px;
}

.info-label-big {
  vertical-align: -webkit-baseline-middle;
  margin-left: 20px;
  color: #34495E;
  font-size: 13px;
}

.action-button {
  width: 25px;
  height: 25px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #CDD9E3;
  padding-top: 4px;
  margin-left: 12px;
  vertical-align: middle;
}

.materialicon-style {
  font-size: 15px;
  color: #34495E;
}

.acd-div {
  display: flex;
  flex-direction: row;
}

.condition-div {
  margin-left: 30px;
}

.diagnosis-div {
  margin-left: 30px;
}

.summary-sub-label {
  color: #1C3E60;
  font-weight: 500;
  font-size: 14px;
}

mat-table {
  width: 99%;
  border: 1px solid #E2E2E2;
  max-height: 490px;
  overflow: auto;
}

.table-position {
  margin-top: 10px;
}

.prescription-div {
  margin-top: 22px;
}

.labtest-position {
  margin-top: 40px;
}

.action-button-position {
  display: flex;
  margin-top: 10%;
  justify-content: flex-end;
  margin-right: 4%;
  margin-bottom: 2%;
}

.button-space {
  margin-left: 30px;
}

#reportButton {
  width: 296px;
}

#saveButton {
  width: 183px;
}
