<div class="medical-div">

    <div class="medical-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="medical-form-position">
            <div class="add-medical-row">
                <div class="medical-label-position">
                    <label class="medical-label">Medical History</label>
                </div>
            </div>
            <div class="details-position">
                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Past Conditions </mat-label>
                        <input matInput class="mat-input-fieldss">
                    </mat-form-field>
                </div>

                <div class="see-details-position">
                    <button mat-button class="mat-cancel-button">See Details</button>
                </div>

                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Present Conditions </mat-label>
                        <input matInput class="mat-input-fieldss">
                    </mat-form-field>
                </div>

                <div class="current-label-position">
                    <label class="current-label">Current Medication</label>
                </div>

                <div class="current-medLabel-div">
                    <div *ngFor="let medicine of medicines" class="medicine-label">
                        <label class="madicine">{{medicine}}
            </label>
                        <div class="delete-icon-position">
                            <i class="material-icons" id="delete-icon">
                highlight_off
              </i>
                        </div>

                    </div>
                </div>
            </div>

            <app-ehr-action-bar></app-ehr-action-bar>

        </div>
    </div>