.mat-input-fieldss {
  width: 896px !important;
  height: 40px !important;
  background: #F8F8F8 !important;
  color: #34495E !important;
  padding-left: 7px !important;
  font-size: 13px !important;
  border: solid #CDD9E3 !important;
  border-width: 1px 1px !important;
  font-weight: 400 !important;
}

.medical-div {
  display: flex;
  flex-direction: row;
}

.medical-right-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.medical-form-position {
  margin-left: 23px;
  width: 100%;
}

.add-medical-row {
  display: flex;
  flex-direction: row;
}

.medical-label-position {
  flex: 1;
  margin: 18px 0px 0px 0px;
}

.medical-label {
  color: #1C3E60;
  font-weight: 500;
}

.details-position {
  margin-top: 46px;
}

#matField {
  width: 905px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #34495E !important;
}

.see-details-position {
  margin-top: 33px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 24%;
}

.current-label-position {
  margin-top: 88px;
  margin-bottom: 20px;
}

.current-label {
  color: #1C3E60;
  font-weight: 600;
}

.current-medLabel-div {
  display: flex;
  flex-direction: row;

}

.medicine-label {
  width: 284px;
  height: 36px;
  background-color: #F8F8F8;
  border: 1px solid #CDD9E3;
  margin-left: 15px;
  padding-top: 3px;
  display: flex;
}

.current-medLabel {
  color: #F8F8F8;
  border: 1px solid #CDD9E3;
}

.madicine {
  font-size: 13px;
  font-weight: 500;
  color: #34495E;
  vertical-align: sub;
  margin: 7px 0px 0px 14px;
}

.delete-icon-position {
  flex: 1;
  text-align: right;
}

#delete-icon {
  color: #CDD9E3;
  margin-top: 5px;
  margin-right: 10px;
}

.action-button-position {
  display: flex;
  margin-top: 10%;
  justify-content: flex-end;
  margin-right: 4%;
}

.button-space {
  margin-left: 30px;
}

#summaryButton {
  width: 262px;
}

#saveButton {
  width: 168px;
}

@media screen and (min-width:760px) and (max-width:1024px) {
  #matField {
    width: 500px !important;
  }

  .see-details-position {
    text-align: center;
    margin-left: 58%;
  }

  .medicine-label {
    width: 155px;
    margin-top: 10px;
  }

  .current-medLabel-div {
    flex-wrap: wrap;
  }
}
