<div class="action-button-position">
  <div class="button-space">
    <button type="button" mat-button class="mat-submit-button" id="summaryButton" (click)="goToAppointmentSummary()">Go
      to Appointment
      Summary</button>
  </div>
  <div class="button-space">
    <button type="button" mat-button class="mat-submit-button" id="saveButton">Save and Next</button>
  </div>
</div>
