.add-drug-container {
    width: 100%;
}

.label-add-drug {
    color: #1C3E60;
    font-size: 15px;
    font-weight: 600;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
    border: 0px;
}

.add-drug-position {
    display: flex;
    flex-direction: column;
    margin: 27px 0px 0px 36px;
    height: auto;
}

.button-space {
    margin-top: 10px;
    text-align: right;
    margin-right: 4%;
    margin-bottom: 27px;
}

#matField {
    width: 822px !important;
}

#small-field {
    width: 245px !important;
    margin-right: 30px;
}

.company-field-position {
    display: flex;
}

.timing-checkbox {
    margin-right: 81px;
}

.note-position {
    margin-top: 20px;
}

.followUpBox {
    display: flex;
}

.mat-hh-time-after::after {
    content: ":";
    position: absolute;
    top: 25px;
    right: -22px;
    color: #696e73;
}

@media screen and (min-width:760px) and (max-width:1024px) {
    #matField {
        width: 540px !important;
    }
}