<div class="add-drug-container">

    <div class="add-drug-position">
        <div>
            <label class="label-add-drug">Set Follow Up Appointment</label>
        </div>

        <div class="followUpBox">
            <div>
                <mat-form-field appearance="standard" id="small-field">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" class="mat-select-fields">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard" id="small-field" class="mat-hh-time-after">
                    <mat-label>HH</mat-label>
                    <input matInput class="mat-input-fields" id="small-field">
                </mat-form-field>
                <mat-form-field appearance="standard" id="small-field">
                    <mat-label>MM</mat-label>
                    <input matInput class="mat-input-fields" id="small-field">
                </mat-form-field>
            </div>
        </div>

        <div class="button-space">
            <button type="button" mat-button class="mat-cancel-button" (click)="onClose()">Cancel</button>
            <button type="button" mat-button class="mat-submit-button" style="margin-left: 22px;">Book</button>
        </div>
    </div>
</div>