<div class="parentdiv">
    <div class="title-line-position">
        <p class="title-line">Sign Up to Heallify!</p>
    </div>

    <mat-card class="card-signup">
        <form [formGroup]="doctorRegisterForm" class="form-position">
            <label class="input-title">Enter Your work Email Address</label>
            <mat-form-field appearance="standard" class="matField">
                <input matInput class="mat-input-fields matField" formControlName="email">
                <app-validations *ngIf="doctorRegisterForm.controls['email'].touched" [validatingFields]="doctorRegisterForm.controls['email']"></app-validations>
            </mat-form-field>

            <label class="input-title">What’s your Mobile number</label>
            <mat-form-field appearance="standard" class="matField">
                <input matInput type="tel" class="mat-input-fields matField" formControlName="mobile">
                <app-validations *ngIf="doctorRegisterForm.controls['mobile'].touched" [validatingFields]="doctorRegisterForm.controls['mobile']"></app-validations>
            </mat-form-field>

            <label class="input-title">Enter Password</label>
            <mat-form-field appearance="standard" class="matField">

                <div style="display:flex">
                    <input type={{fieldtype}} matInput class="mat-input-fields matField" placeholder="Enter Password" formControlName="password">
                    <i class="show-hide-password" (click)="showPassword()">
            visibility
          </i>
                </div>

                <app-validations *ngIf="doctorRegisterForm.controls['password'].touched" [validatingFields]="doctorRegisterForm.controls['password']" [passwordPattern]="passwordPattern"></app-validations>
            </mat-form-field>
        </form>

        <div class="action-button">
            <div class="signin-button-position">
                <button mat-button class="signin-btn" (click)="onSignup()" [disabled]="!doctorRegisterForm.valid">Sign
          Up</button>
            </div>
        </div>

        <div class="terms-label-position">
            <label class="terms-label"> By signing up, you agree to our Terms and conditions, and Privacy Policy</label>
        </div>

        <div class="redirect-login-position">
            <label class="redirect-login-label">Already have an account?</label> &nbsp;
            <a class="redirect-login-button" href="/login"> Login</a>
        </div>
    </mat-card>
</div>