.parentdiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F3;
  justify-content: center;
}

.card-signup {
  width: 469px;
  height: fit-content;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 10px;
  margin: 0 auto;
}

#matFieldsmall {
  width: 100px;
  height: 40px;
}

.title-line-position {
  text-align: center;
}

.title-line {
  font-size: 20px;
  color: #E8192E;
  font-weight: 600;
}

.signin-button-position {
  flex: 1;
}

.action-button {
  display: flex;
  margin-top: 25px;
  text-align: center;
}

.form-position {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 16px !important;
  margin-left: 27px;
}

.matField {
  width: 383px !important;
  background-color: #ffffff !important;
  border-radius: 5px;
}

.matFieldselect {
  width: 100px !important;
}

.input-title {
  text-align: left;
  font-size: 14px;
  color: #33335E;
}

.signin-btn {
  background-color: #0049B0;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}

.password-reset {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  width: 125px;
  height: 40px;
  color: #66727E;
  text-align: center;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.sign-google {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 37px;
  text-align: -webkit-center;
}

.sign-google button {
  width: 203px;
  height: 40px;
  background: #3A91F7 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  font-weight: 500;
  color: #ffffff;
}

.redirect-signup {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.redirect-signup p {
  margin-left: 121px;
  letter-spacing: 0;
  color: #485867;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.redirect-signup button {
  background-color: #ffffff;
  border: none;
  color: #0049B0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.terms-label-position {
  margin-top: 21px;
  text-align: center;
}

.terms-label {
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  color: #66727E;
  opacity: 1;
  font-weight: 400;
  margin-top: 21px;
}

.redirect-login-position {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  justify-content: center;
}

.redirect-login-label {
  color: #485867;
  font-size: 14px;
  font-weight: 400;
}

.redirect-login-button {
  color: #0049B0 !important;
  font-size: 14px;
  font-weight: 400;
}

.show-hide-password {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 22px;
  margin-left: -35px;
  margin-top: 10px;
  cursor: pointer;
}