.notification-div {
    display: flex;
    flex-direction: row;
}

.notification-right-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.notification-form-position {
    margin-left: 23px;
    width: 100%;
}

.notification-row {
    display: flex;
    flex-direction: row;
}

.notification-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.notification-label {
    color: #1C3E60;
    font-weight: 500;
}

.email-position {
    margin-top: 24px;
}

.sms-position {
    margin-top: 50px;
}

.verified-div {
    display: flex;
    width: 490px;
    background-color: #F8F8F8;
    border: 1px solid #CDD9E3;
    margin-top: 10px;
}

.email-label {
    color: #849FB4;
    font-size: 15px;
    font-weight: 400;
}

.sms-label {
    color: #849FB4;
    font-size: 15px;
    font-weight: 400;
}

.emailID-label {
    font-size: 13px;
    color: #34495E;
    font-weight: 500;
    margin: 0;
    padding: 10px;
}

.smsnumber-label {
    font-size: 13px;
    color: #34495E;
    font-weight: 500;
    margin: 10px 0px 0px 10px;
}

.verified-icon-label {
    flex: 1;
    text-align: right;
}

.verified-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #27AE60;
    margin: 10px 6px 10px 0px;
}

.verified-label {
    color: #27AE60;
    font-size: 10px;
    margin: 0px 20px 0px 0px;
    vertical-align: super;
}

.align-div {
    display: flex;
}

.slider-control {
    margin: 18px 0px 0px 130px;
    color: #849FB4;
    font-size: 13px;
}