<div class="notification-div">
    <div class="notification-right-div">
        <div>
            <app-setting-sidenav></app-setting-sidenav>
        </div>
        <div class="notification-form-position">
            <div class="notification-row">
                <div class="notification-label-position">
                    <label class="notification-label">Notification</label>
                </div>
            </div>

            <div class="email-position">
                <label class="email-label">Email</label>
                <div class="align-div">
                    <div class="verified-div">
                        <label class="emailID-label">{{profile.email}}</label>
                        <div class="verified-icon-label" *ngIf="profile.email_verified != 0">
                            <i class="verified-icons">check_circle</i>
                            <label class="verified-label">Verified</label>
                        </div>
                    </div>
                    <mat-slide-toggle class="slider-control">Allow Notification</mat-slide-toggle>
                </div>
            </div>

            <div class="sms-position">
                <label class="sms-label">SMS</label>
                <div class="align-div">
                    <div class="verified-div">
                        <label class="smsnumber-label">{{profile.mobile}}</label>
                        <div class="verified-icon-label" *ngIf="profile.mobile_verified != 0">
                            <i class="verified-icons">check_circle</i>
                            <label class="verified-label">Verified</label>
                        </div>
                    </div>
                    <mat-slide-toggle class="slider-control">Allow Notification</mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
</div>