<mat-drawer-container>
    <mat-drawer #drawer class="example-sidenav" [mode]="mMedia === 'xs' ? 'side' : 'side'" opened="false">
        <app-navdrawer></app-navdrawer>
    </mat-drawer>
    <mat-drawer-content class="sec2" fxLayout="column" fxFlex>
        <app-action-toolbar></app-action-toolbar>
        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>