.bounds {
  height: 100vh;
  width: 100%;
  min-width: 100%;
  max-height: 100vh
}

.sec2 {
  background: #f9f9f9;
  color: blue;
  overflow: auto;
  max-height: 100vh;
  min-height: 100vh
}

.sec3 {
  background: blue;
  color: #fff
}

.content {
  width: 100%;
  min-width: 100%
}

.mini-toolbar {
  background: #047f8d
}

.menuicon {
  margin-left: 20px
}

.nav_title {
  color: #fff;
  align-content: center
}

.shrink h1 {
  display: none
}

.example-spacer {
  flex: 1 1 auto
}

mat-nav-list {
  z-index: 50;
  width: inherit
}

.breadcrumb {
  background-color: #0097A7;
  width: 110%
}

table {
  width: 100%
}

.logo {
  padding: 20px
}

.menu {
  align-content: center;
  align-items: center;
  margin: 10px;
  width: 60%
}

::-webkit-scrollbar {
  display: none
}

h1 {
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px
}

.material-icons {
  color: #fff
}

.nav_title.highlight {
  background-color: #047F8D;
  z-index: 100
}

.nav_title:hover {
  background-color: #b0c4de
}

.log_out {
  margin-right: auto;
  text-transform: none;
  padding-bottom: 1px
}
