<div class="allergies-div">
    <div class="allergies-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="allergies-form-position">
            <div class="add-allergies-row">
                <div class="allergies-label-position">
                    <label class="allergies-label">Allergies</label>
                </div>
            </div>
            <div class="details-position">

                <table class="allergies-table">
                    <tr class="allergies-header-row">
                        <th class="header-title" id="type-control">Type</th>
                        <th class="header-title" id="description-control-header">Description</th>
                        <th class="header-title" id="severity-control">Severity</th>
                        <th class="header-title"></th>
                    </tr>

                    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                        <td>
                            <mat-form-field appearance="standard" id="matFieldmembership">
                                <input type="text" #allergiesInput class="mat-input-fields" placeholder="Search Allergies" id="matFieldmembership" matInput (keyup)="getAllergiesAutocomplete($event.target.value)" [matAutocomplete]="allergies">
                                <mat-autocomplete #allergies="matAutocomplete" (optionSelected)="onSelection($event.option.value.id)" [displayWith]="displayFn">
                                    <mat-option *ngFor="let allergie of filteredAllergies" [value]="allergie">
                                        {{allergie.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- <input [(ngModel)]="dynamicArray[i].type" class="mat-input-fields" id="type-control" type="text" /> -->
                        </td>
                        <td>
                            <textarea [(ngModel)]="dynamicArray[i].description" class="mat-input-fields" id="description-control"></textarea>
                        </td>
                        <td>
                            <input [(ngModel)]="dynamicArray[i].severity" class="mat-input-fields" id="severity-control" type="text" />
                        </td>
                        <td class="delete-position">
                            <button class="delete-button">
                                <i class="material-icons" (click)="deleteRow(i)" class="remove-icon">delete_outline</i>
                            </button>
                        </td>
                    </tr>
                </table>

                <div class="addallergy-position">
                    <button type="button" mat-button class="mat-submit-button" (click)="addRow()">Add Allergy</button>
                </div>
            </div>

            <app-ehr-action-bar></app-ehr-action-bar>
        </div>
    </div>