<div class="conditions-div">
    <div class="conditions-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="conditions-form-position">
            <div class="add-conditions-row">
                <div class="conditions-label-position">
                    <label class="conditions-label">Conditions</label>
                </div>
            </div>
            <div class="details-position">

                <table class="conditions-table">
                    <tr class="conditions-header-row">
                        <th class="header-title">Condition Type</th>
                        <th class="header-title">Notes</th>
                        <th class="header-title"></th>
                    </tr>

                    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                        <td class="column-width">
                            <mat-form-field appearance="standard" id="matFieldmembership">
                                <input type="text" class="mat-input-fields" placeholder="Search Conditions" id="matFieldmembership" matInput (keyup)="getConditionsAutocomplete($event.target.value)" [matAutocomplete]="conditions">
                                <mat-autocomplete #conditions="matAutocomplete" (optionSelected)="onSelection($event.option.value.id)" [displayWith]="displayFn">
                                    <mat-option *ngFor="let condition of filteredConditions" [value]="condition">
                                        {{condition.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- <textarea [(ngModel)]="dynamicArray[i].condition" class="mat-input-fields" id="type-control" type="text"></textarea> -->
                        </td>
                        <td class="column-width">
                            <textarea [(ngModel)]="dynamicArray[i].notes" class="mat-input-fields" id="description-control"></textarea>
                        </td>
                        <td class="delete-position">
                            <button class="delete-button">
                <i class="material-icons" (click)="deleteRow(i)" class="remove-icon">delete_outline</i>
              </button>
                        </td>
                    </tr>
                </table>

                <div class="addallergy-position">
                    <button type="button" mat-button class="mat-submit-button" (click)="addRow()">Add Condition</button>
                </div>
            </div>

            <app-ehr-action-bar></app-ehr-action-bar>
        </div>
    </div>