.patient-div {
    display: flex;
    flex-direction: row;
}

.side-navigation-div {
    width: 52px;
    background-color: #0049B0;
}

.patient-right-div {
    width: 100%;
}

.add-patient-row {
    display: flex;
    flex-direction: row;
}

.patient-label-position {
    margin: 18px 31px 0px 14px;
}

.patient-label {
    color: #1C3E60;
    font-weight: bold;
}

.add-patient-button-position {
    flex: 0;
    margin-left: auto;
    margin-right: 85px;
    margin-top: 13px;
}

.sortFilter-position {
    height: 36px;
    width: 276px;
    background-color: #ECF0F1;
    display: flex;
    position: absolute;
    right: 46px;
    margin-top: 21px;
}

.divider-sort {
    background-color: #2A5784;
    height: 26px;
    width: 1px;
    margin-top: 5px;
}

.sorting-button {
    width: 138px;
    color: #1C3E60;
    font-size: 12px;
    font-weight: 600;
}

.patient-list {
    // margin: 28px 24px;
    border: 1px solid #E2E2E2;
}

.addyour-patient-label {
    color: #1C3E60;
    font-weight: bold;
}

table {
    width: 100%;
}

.timing-button {
    font-size: 12px;
    color: #1C3E60;
    border: 1px solid #1C3E60;
    background-color: #ffffff;
    width: 124px;
    height: 30px;
}

.action-button {
    padding: 0px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.materialicon-style {
    font-size: 15px;
    color: #34495E;
}

.mat-column-edit {
    justify-content: flex-end;
}

.mat-column-delete {
    justify-content: center;
}

.mat-column-timing {
    justify-content: center;
}

.mat-column-srno {
    max-width: 80px !important;
}

.search-staff {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#matField {
    width: 428px;
}

mat-icon {
    color: #849FB4;
    font-size: 20px;
}

.search-icon {
    font-family: "Material Icons";
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    // margin-left: 400px;
    // margin-top: -32px;
    right: 8px;
    top: 12px;
    color: #849FB4;
}

@media screen and (min-width:320px) and (max-width:480px) {}

@media screen and (min-width:360px) and (max-width:649px) {}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.patient-list tr th {
    text-align: left !important;
}

.patient-list tr td {
    text-align: left;
    width: 150px;
}