<div class="patient-div">

    <div class="patient-right-div">
        <div class="add-patient-row">
            <div class="patient-label-position">
                <label class="patient-label">Patient List</label>
            </div>
            <div class="search-staff">
                <mat-form-field appearance="standard" id="matField">
                    <mat-label>Search patients by name and mobile number</mat-label>
                    <input matInput class="mat-input-fields" (keyup)="applyFilter($event)">
                    <i class="search-icon">
                        search
                    </i>
                </mat-form-field>
            </div>
        </div>
        <div class="patient-list-position">

            <table mat-table [dataSource]="dataSource" class="patient-list" matSort>
                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. NO </th>
                    <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
                </ng-container>

                <ng-container matColumnDef="patient_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
                    <td mat-cell class="app-patient-name" *matCellDef="let element"> {{element.patient_name | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                    <td mat-cell *matCellDef="let element"> {{(element.mobile) ? element.mobile : '--'}} </td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> AGE | Gender </th>
                    <td mat-cell *matCellDef="let element" style="text-transform:capitalize;"> {{(element.age) ? element.age.slice(0,2) : '--'}} | {{(element.gender) ? element.gender : '--'}} </td>
                </ng-container>

                <ng-container matColumnDef="last_visit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Visit </th>
                    <td mat-cell *matCellDef="let element"> {{element.last_visit ? element.last_visit: '--'}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let element">
                        <img src="../../../../assets/images/walk.png" *ngIf="element.type == 'Walk-in'">
                        <span *ngIf="element.type != 'Walk-in'" style="color: #52af50;font-size: 25px;"><i class="fa fa-video-camera"></i></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Clinical Records</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="action-button" (click)="navigateToPatientHistory(element.user_id)">
                            <img src="../../../../assets/images/healthcare.svg">
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>