.medical-div {
  display: flex;
  flex-direction: row;
}

.medical-right-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.prescription-form-position {
  margin-left: 23px;
  width: 100%;
}

.add-medical-row {
  display: flex;
  flex-direction: row;
}

.medical-label-position {
  flex: 1;
  margin: 18px 0px 0px 0px;
}

.medical-label {
  color: #1C3E60;
  font-weight: 500;
}

.details-position {
  margin-top: 46px;
  margin-right: 62px;
}

mat-table {
  width: 100%;
  border: 1px solid #E2E2E2;
  max-height: 490px;
  overflow: auto;
}

.adddrug-position {
  margin-top: 31px;
  text-align: right;
  margin-right: 4%;
}

.action-button-position {
  display: flex;
  margin-top: 10%;
  justify-content: flex-end;
  margin-right: 4%;
}

.button-space {
  margin-left: 30px;
}

#summaryButton {
  width: 262px;
}

#saveButton {
  width: 168px;
}
