<div class="medical-div">
    <div class="medical-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="prescription-form-position">
            <div class="add-medical-row">
                <div class="medical-label-position">
                    <label class="medical-label">Prescription</label>
                </div>
            </div>
            <div class="details-position">
                <mat-table [dataSource]="dataSource" class="clinic-list">
                    <ng-container matColumnDef="drugname">
                        <mat-header-cell *matHeaderCellDef> Drug Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.drugname}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="strength">
                        <mat-header-cell *matHeaderCellDef> Strength </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.strength}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="frequency">
                        <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.frequency}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalintake">
                        <mat-header-cell *matHeaderCellDef> Total Intake </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.totalintake}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <div class="adddrug-position">
                <button type="button" mat-button class="mat-submit-button" id="saveButton" (click)="openAddDrugsDialog()">Add
          Drug</button>
            </div>

            <app-ehr-action-bar></app-ehr-action-bar>
        </div>
    </div>
</div>