<mat-card class="card-signup" *ngIf="show === 'false'">
  <form [formGroup]="forgotPasswordForm" class="form-position">

    <label class="input-title">Mobile number</label>
    <mat-form-field appearance="standard" class="matField">
      <input matInput type="tel" class="mat-input-fields matField" formControlName="mobile">
      <app-validations *ngIf="forgotPasswordForm.controls['mobile'].touched"
        [validatingFields]="forgotPasswordForm.controls['mobile']"></app-validations>
    </mat-form-field>
  </form>

  <div class="action-button">
    <div class="signin-button-position">
      <button mat-button class="signin-btn" (click)="onSendCode()" [disabled]="!forgotPasswordForm.valid">Send
        Code</button>
    </div>
  </div>

  <div class="redirect-login-position">
    <label class="redirect-login-label">Already have an account?</label> &nbsp;
    <a class="redirect-login-button" href="login"> Login</a>
  </div>
</mat-card>

<mat-card class="card-signup" *ngIf="show === 'true'">
  <form [formGroup]="resetPasswordForm" class="form-position">

    <label class="input-title">Mobile number</label>
    <mat-form-field appearance="standard" class="matField">
      <input matInput type="tel" class="mat-input-fields matField" formControlName="mobile">
      <app-validations *ngIf="resetPasswordForm.controls['mobile'].touched"
        [validatingFields]="resetPasswordForm.controls['mobile']"></app-validations>
    </mat-form-field>
    
    <label class="input-title">Password</label>
    <mat-form-field appearance="standard" class="matField">
      <input matInput type="tel" class="mat-input-fields matField" formControlName="password">
      <app-validations *ngIf="resetPasswordForm.controls['password'].touched"
        [validatingFields]="resetPasswordForm.controls['password']"></app-validations>
    </mat-form-field>

    <label class="input-title">Forget Code</label>
    <mat-form-field appearance="standard" class="matField">
      <input matInput type="tel" class="mat-input-fields matField" formControlName="forget_code">
      <app-validations *ngIf="resetPasswordForm.controls['forget_code'].touched"
        [validatingFields]="resetPasswordForm.controls['forget_code']"></app-validations>
    </mat-form-field>
  </form>

  <div class="action-button">
    <div class="signin-button-position">
      <button mat-button class="signin-btn" (click)="onSendCode()" [disabled]="!resetPasswordForm.valid">Send
        Code</button>
    </div>
  </div>

  <div class="redirect-login-position">
    <label class="redirect-login-label">Already have an account?</label> &nbsp;
    <a class="redirect-login-button" href="login"> Login</a>
  </div>
</mat-card>
