.diagnosis-div {
    display: flex;
    flex-direction: row;
}

.diagnosis-right-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.diagnosis-form-position {
    margin-left: 23px;
    width: 100%;
}

.add-diagnosis-row {
    display: flex;
    flex-direction: row;
}

.diagnosis-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.diagnosis-label {
    color: #1C3E60;
    font-weight: 500;
}

.details-position {
    margin-top: 20px;
}

#matField {
    width: 284px !important;
    margin-right: 25px;
}

.action-button-position {
    display: flex;
    margin-top: 10%;
    justify-content: flex-end;
    margin-right: 4%;
}

.button-space {
    margin-left: 30px;
}

#summaryButton {
    width: 262px;
}

#saveButton {
    width: 168px;
}

.addDiagnosis-position {
    margin-top: 82px;
    text-align: right;
    margin-right: 4%;
}

.remove-icon {
    font-family: "Material Icons";
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    // margin-left: 10px;
    margin-top: 5px;
    top: 4px;
    right: 0;
    color: #849FB4;
    cursor: pointer;
}

.reason-textfield {
    width: 638px;
    height: 103px;
    font-size: 12px;
    color: #34495E;
    border: 1px solid #CDD9E3;
}

.mat-textaraa-diagonosis {
    height: 100px;
    // background-color: #ffffff !important;
    color: #1C3E60 !important;
    padding: 7px !important;
    font-size: 13px !important;
    border: none;
    border-bottom: 2px solid #CDD9E3;
    // border-width: 1px 1px !important;
    font-weight: 400 !important;
}

.mat-textaraa-diagonosis:focus {
    border-bottom-color: #0049b0;
}

.diagonosis-area {
    width: 50%;
    display: flex;
    flex-direction: column;
}