<div class="diagnosis-div">

    <div class="diagnosis-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="diagnosis-form-position">
            <div class="diagnosis-label-position">
                <label class="diagnosis-label">Diagnosis</label>
            </div>
            <div class="details-position">

                <div *ngFor="let dynamic of dynamicArray; let i = index;">
                    <div class="form-group col-xs-6">

                        <mat-form-field appearance="standard" id="matFieldmembership" style="width: 50%;position: relative;">
                            <!-- <mat-label>Diagonosis</mat-label> -->
                            <textarea matInput placeholder="Write Diagonosis Here...." class="mat-textaraa-diagonosis"></textarea>
                            <i class="remove-icon" (click)="deleteRow(i)">
								highlight_off
							</i>
                        </mat-form-field>
                        <!-- <textarea rows="4" cols="50" class="reason-textfield" [(ngModel)]="dynamicArray[i].diagnosis"></textarea> -->
                    </div>
                </div>

                <div class="addDiagnosis-position">
                    <button type="button" mat-button class="mat-submit-button" (click)="addRow()">Add Diagnosis</button>
                </div>

            </div>

            <app-ehr-action-bar></app-ehr-action-bar>
        </div>
    </div>
</div>