.add-edu-container {
    width: 587px;
}

.label-add-edu {
    color: #1C3E60;
    font-size: 15px;
    font-weight: 600;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
    border: 0px;
}

.add-edu-position {
    display: flex;
    flex-direction: column;
    margin: 27px 0px 0px 36px;
    height: auto;
}

.button-space {
    margin-top: 33px;
    text-align: right;
    margin-right: 5.5%;
    margin-bottom: 27px;
}

#matField {
    width: 522px;
}

#small-field {
    width: 242px !important;
}

.contact-field-position {
    display: flex;
}

@media screen and (min-width:320px) and (max-width:650px) {
    .bank-details-position {
        margin-left: 13px;
    }
    .mat-input-fields {
        width: 90% !important;
    }
}

@media screen and (min-width:760px) and (max-width:1280px) {
    .bank-details-position {
        margin-left: 13px;
    }
    .mat-input-fields {
        width: 90% !important;
    }
}

.invalid-feedback {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}