<div class="add-edu-container">

    <div class="add-edu-position">
        <div>
            <label class="label-add-edu">{{!data ? 'Add Education' : 'Edit Education'}}</label>
        </div>

        <form [formGroup]="addEducationForm">
            <mat-form-field appearance="standard" id="matField" style="margin-top: 15px">
                <mat-label>Institute</mat-label>
                <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && addEducationForm.get('institution').errors) || addEducationForm.get('institution').errors && (addEducationForm.get('institution').touched || addEducationForm.get('institution').dirty)}"
                    formControlName="institution" required>
                <div *ngIf="addEducationForm.get('institution').errors && (addEducationForm.get('institution').touched || addEducationForm.get('institution').dirty)" class="invalid-feedback">
                    <div *ngIf="addEducationForm.get('institution').errors.required">* Institution is required</div>
                </div>
            </mat-form-field>

            <mat-form-field appearance="standard" id="matField" class="fields-space">
                <mat-label>Year</mat-label>
                <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && addEducationForm.get('year').errors) || addEducationForm.get('year').errors && (addEducationForm.get('year').touched || addEducationForm.get('year').dirty)}" (keypress)="isNumberKey($event)"
                    formControlName="year" minlength="4" maxlength="4" required>
                <div *ngIf="addEducationForm.get('year').errors && (addEducationForm.get('year').touched || addEducationForm.get('year').dirty)" class="invalid-feedback">
                    <div *ngIf="addEducationForm.get('year').errors.required">* Year is required</div>
                    <div *ngIf="addEducationForm.get('year').errors.minlength">* Invalid Year</div>
                </div>
            </mat-form-field>

            <mat-form-field appearance="standard" id="small-field" class="fields-space">
                <mat-label>Degree</mat-label>
                <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && addEducationForm.get('study').errors) || addEducationForm.get('study').errors && (addEducationForm.get('study').touched || addEducationForm.get('study').dirty)}" id="small-field"
                    formControlName="study" required>
                <div *ngIf="addEducationForm.get('study').errors && (addEducationForm.get('study').touched || addEducationForm.get('study').dirty)" class="invalid-feedback">
                    <div *ngIf="addEducationForm.get('study').errors.required">* Study is required</div>
                </div>
            </mat-form-field>
        </form>

        <div class="button-space">
            <button type="button" mat-button class="mat-cancel-button" (click)="onClose()">Cancel</button>
            <input type="button" mat-button [disabled]="!addEducationForm.valid" *ngIf="!isUpdate" class="mat-submit-button" (click)="addEducation()" style="margin-left: 22px;" value="Add">
            <input type="button" mat-button [disabled]="!addEducationForm.valid" *ngIf="isUpdate" class="mat-submit-button" (click)="updateEducation()" style="margin-left: 22px;" value="Edit">
        </div>
    </div>
</div>