<div id="calling-patient-dialog">
    <div id="dialog-container">
        <div class="calling-header">
            <h3 style="margin: 0;">
                <div class="spinner" aria-busy="true">
                    {{calling_title}}
                    <span class="bubble1"></span>
                    <span class="bubble2"></span>
                    <span class="bubble3"></span>
                </div>
            </h3>
            <div class="calliee-info">
                <div class="calliee-avatar">
                    <img src="../../../../assets/images/default-user.jpeg">
                </div>
                <div class="calliee-details">
                    <p>Krishna Vishwakarma</p>
                    <p>Gender - M, Mobile - 8982952675</p>
                </div>
            </div>
            <div class="calling-icon">
                <div>
                    <span>
                        <i class="Phone is-animating"></i>
                    </span>
                </div>
            </div>
            <div class="end-call-btn">
                <button type="button" class="accept-call" (click)="acceptCall()">Accept</button>
                <button type="button" class="end-call" (click)="onClose()">Decline</button>
            </div>
        </div>
    </div>
</div>