.shrink label.nav_title {
    display: none
}

.root {
    background: #0049B0;
    color: #fff !important;
    z-index: 100;
    border: solid;
    border-width: 0 0 0 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

mat-nav-list {
    z-index: 50;
    width: inherit;
    padding-top: 0px;
}

mat-list-item {
    padding: 0 !important;
    margin: 0 !important
}

.breadcrumb {
    background-color: #0097A7;
    width: 110%
}

table {
    width: 100%
}

.logo {
    padding: 20px;
    display: block;
    width: 200px
}

.menu {
    align-content: center;
    align-items: center;
    margin: 10px;
    width: 60%
}

.mat-card-title {
    color: #fff !important;
    cursor: pointer;
    font-size: 12px !important
}

.mat-card-title.highlight {
    background-color: #f5f5f5 !important;
    color: #4e4e4e !important
}

.material-icons {
    color: #fff !important;
    font-size: 17px;
    outline: none;
}

.material-icons.highlight {
    color: #4e4e4e !important
}

.mat-card-title:hover {
    background-color: #b0c4de !important
}

.log_out {
    margin-right: auto;
    text-transform: none;
    padding-bottom: 1px
}

.mat-list-item {
    padding-left: 12px
}

.clinic-dropdown {
    margin: 20px 6px 0px 6px;
}

.mat-select-trigger {
    top: 11px !important;
}

::ng-deep .mat-form-field-infix {
    width: 100% !important;
}