<div class="mat-elevation-z2 root">

    <div>
        <div *ngIf="mDrawerShrink == false" style="text-align: center;margin: 10px 0px 10px 0px;">
            <img src="../../../assets/images/heallify.svg" style="width: 80%;">
        </div>
        <div *ngIf="mDrawerShrink == true" style="text-align: center;margin: 10px 0px 10px 0px;">
            <img src="../../../assets/images/favicon.png" style="width: 60%;">
        </div>
        <div *ngFor="let link of tLinks">
            <mat-nav-list>
                <mat-list-item class="mat-card-title" [class.shrink]="mDrawerShrink" [routerLink]="link.route" routerLinkActive="highlight">
                    <i class="material-icons" [routerLink]="link.route" routerLinkActive="highlight" [matTooltip]="link.title">{{ link.icon }}</i>
                    <label class="nav_title" style="width:100%;margin-left: 26px;cursor: pointer;">{{link.title}}</label>
                </mat-list-item>
            </mat-nav-list>
        </div>

    </div>
    <div>
        <div *ngFor="let links of bLinks">
            <mat-nav-list>
                <mat-list-item class="mat-card-title" [class.shrink]="mDrawerShrink" [routerLink]="links.route" routerLinkActive="highlight" (click)="OnLogOut(links.route)">
                    <i class="material-icons" [routerLink]="links.route" routerLinkActive="highlight" [matTooltip]="links.title">{{ links.icon }}</i>
                    <label class="nav_title" style="width:100%;margin-left: 26px;cursor: pointer;">{{links.title}}</label>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <mat-nav-list>
            <a [matTooltip]="mDrawerShrink ? 'Expand' : 'Collapse'" style="background: transparent; cursor: pointer;" (click)="toggleDrawerShrink()">
                <mat-icon style="margin: 0px auto 15px !important;
      width: 40px;
      height: 30px;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      padding: 10px 0px 0px 0px;
      font-size: 20px;">
                    {{ mDrawerShrink ? "keyboard_arrow_right" : "keyboard_arrow_left" }}
                </mat-icon>
            </a>
        </mat-nav-list>
    </div>


</div>