div#video-consulting {
    height: 94.67vh;
    display: flex;
    align-items: stretch;
    position: relative;
}

#zmmtg-root,
:host ::ng-deep .meeting-client,
:host ::ng-deep .meeting-client-inner,
:host ::ng-deep .meeting-app {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

:host ::ng-deep #wc-content {
    display: flex;
    flex-direction: row;
    // bottom: auto !important;
    // width: 1000px !important;
}

:host ::ng-deep .participant-scrollbar {
    height: 450px;
}

:host ::ng-deep #dialog-join,
:host ::ng-deep #dialog-invite {
    width: 100% !important;
}

// :host ::ng-deep #sv-active-video,
// :host ::ng-deep .active-main,
// :host ::ng-deep #sv-active-speaker-view,
// :host ::ng-deep .main-layout,
// :host ::ng-deep #active-my-canvas {
//     height: 500px !important;
//     width: 1000px !important;
// }
// :host ::ng-deep .suspension-window {
//     transform: translate(-444px, 10px) !important;
// }
// :host ::ng-deep #dialog-invite {
//     display: none;
// }
div#consulting-main-panel {
    position: relative;
}

.consulting-panel {
    background: #303a40;
    color: white;
    z-index: 1000;
    position: fixed;
    right: 0;
    height: 100%;
}

ul.consulting-row {
    padding: 0;
    list-style: none;
}

li.consulting-col {
    text-align: center;
    cursor: pointer;
    padding: 18px 24px;
}

li.consulting-col:hover {
    background: #ffffff40;
}

.patient-basics p {
    font-size: 14px;
    margin-bottom: 4px;
}

div#consulting-hidden-panel-toggle {
    height: 100%;
    width: 350px;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 59px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 75%, rgba(89, 170, 178, 0.5760679271708684) 100%);
    overflow-x: hidden;
    transition: 0.5s;
    margin-right: -350px;
}

.panel-container {
    padding: 25px 0;
}

.patient-basic-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.patient-profile-img {
    width: 85px;
    height: 85px;
    margin-bottom: 15px;
}

.patient-profile-img img {
    width: 100%;
    height: 100%;
}

// EHR SCREEN DESIGNS
.medical-history-panel {
    width: 100%;
}

.mat-input-fieldss {
    // width: 896px !important;
    height: 40px !important;
    background: #F8F8F8 !important;
    color: #34495E !important;
    padding-left: 7px !important;
    font-size: 13px !important;
    border: solid #CDD9E3 !important;
    border-width: 1px 1px !important;
    font-weight: 400 !important;
}

.details-position {
    margin-top: 46px;
}

#matField {
    // width: 905px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #34495E !important;
    width: 100%;
    padding: 0 12px;
}

.see-details-position {
    margin-top: 33px;
    text-align: center;
    margin-bottom: 50px;
    // margin-left: 24%;
}

.current-label-position {
    // margin-top: 88px;
    margin-bottom: 20px;
}

.current-label {
    color: #1C3E60;
    font-weight: 600;
}

.current-medLabel-div {
    display: flex;
    flex-direction: column;
}

.medicine-label {
    // width: 284px;
    height: 36px;
    background-color: #F8F8F8;
    border: 1px solid #CDD9E3;
    margin: 4px 12px;
    padding-top: 3px;
    display: flex;
}

.current-medLabel {
    color: #F8F8F8;
    border: 1px solid #CDD9E3;
}

.madicine {
    font-size: 13px;
    font-weight: 500;
    color: #34495E;
    vertical-align: sub;
    margin: 7px 0px 0px 14px;
}

.delete-icon-position {
    flex: 1;
    text-align: right;
}

#delete-icon {
    color: #CDD9E3;
    margin-top: 5px;
    margin-right: 10px;
}

// HV Panel
.hv-row {
    display: flex;
}

.hv-row #matField {
    width: 50%;
}

// ACD Panel
:host ::ng-deep .medical-history-panel .mat-tab-header-pagination {
    display: none !important;
}

:host ::ng-deep .medical-history-panel .mat-tab-label {
    min-width: auto !important;
}

.mat-textarea-description {
    height: 100px;
    // background-color: #ffffff !important;
    color: #1C3E60 !important;
    padding: 7px !important;
    font-size: 13px !important;
    border: none;
    border-bottom: 2px solid #CDD9E3;
    // border-width: 1px 1px !important;
    font-weight: 400 !important;
}

#matFieldmembership:focus {
    outline: none !important;
}

.mat-textarea-description:focus {
    border-bottom-color: #0049b0;
}

.sum-col {
    padding: 0 12px;
    margin: 0 12px;
    font-size: 14px;
    color: #333;
}

.button-space {
    margin-left: 12px;
    margin-top: 20px;
}

#saveButton {
    width: 168px;
}