<div id="consulting-main-panel">
    <div id="video-consulting">
        <div class="video-consulting-screen">
            <div id="zmmtg-root"></div>
        </div>
        <div class="consulting-panel">
            <div class="consulting-options">
                <div class="consulting">
                    <ul class="consulting-row">
                        <li class="consulting-col" title="Patient Details" (click)="toggleConsultingOptions('pd')">
                            <div><i class="fa fa-user"></i></div>
                        </li>
                        <li class="consulting-col" title="Health Vital" (click)="toggleConsultingOptions('hv')">
                            <div><i class="fa fa-user"></i></div>
                        </li>
                        <li class="consulting-col" title="ACD" (click)="toggleConsultingOptions('acd')">
                            <div><i class="fa fa-user"></i></div>
                        </li>
                        <li class="consulting-col" title="Prescription" (click)="toggleConsultingOptions('pre')">
                            <div><i class="fa fa-user"></i></div>
                        </li>
                        <li class="consulting-col" title="Order Lab Test" (click)="toggleConsultingOptions('lab')">
                            <div><i class="fa fa-user"></i></div>
                        </li>
                        <li class="consulting-col" title="Order Lab Test" (click)="toggleConsultingOptions('sum')">
                            <div><i class="fa fa-user"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="consulting-hidden-panel-toggle">
        <div class="panel-container">
            <!-- Basic Panel -->
            <div id="c-p-basic" *ngIf="sideBarOptions.pd">
                <div class="patient-basic-details">
                    <div class="patient-profile-img">
                        <img src="../../../assets/images/default-user.jpeg">
                    </div>
                    <div class="patient-basics">
                        <p>{{patient_details.patient_name}}</p>
                        <p>johndoe123@example.com</p>
                        <p>Male, 32 yrs | 78952262545</p>
                    </div>
                </div>
                <hr />
                <h4 style="padding: 0 12px;color: #747487;">Medical History</h4>
                <div class="medical-history-panel">
                    <div>
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Past Conditions </mat-label>
                            <input matInput class="mat-input-fieldss">
                        </mat-form-field>
                    </div>
                    <div class="see-details-position">
                        <button mat-button class="mat-cancel-button">See Details</button>
                    </div>
                    <div>
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Present Conditions </mat-label>
                            <input matInput class="mat-input-fieldss">
                        </mat-form-field>
                    </div>
                    <h4 style="padding: 0 12px;color: #747487;">Current Medication</h4>
                    <div class="current-medLabel-div">
                        <div *ngFor="let medicine of medicines" class="medicine-label">
                            <label class="madicine">{{medicine}}</label>
                            <div class="delete-icon-position">
                                <i class="material-icons" id="delete-icon">
                                    highlight_off
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button" id="saveButton">Save and Next</button>
                    </div>
                </div>
            </div>
            <!-- Health Vital Panel -->
            <div id="c-p-vitals" *ngIf="sideBarOptions.hv">
                <div class="patient-basic-details">
                    <div class="patient-profile-img">
                        <img src="../../../assets/images/default-user.jpeg">
                    </div>
                    <div class="patient-basics">
                        <p>{{patient_details.patient_name}}</p>
                        <p>johndoe123@example.com</p>
                        <p>Male, 32 yrs | 78952262545</p>
                    </div>
                </div>
                <hr />
                <h4 style="padding: 0 12px;color: #747487;">Health Vitals</h4>
                <div class="medical-history-panel">
                    <div class="hv-row">
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Height in Feet</mat-label>
                            <input matInput class="mat-input-fields" value="patient_details.log.">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Body Temperature</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="hv-row">

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Weight in Kg</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Blood Pressure</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="hv-row">
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Body Mass index</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Heart Rate</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="hv-row">
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Body Fat Percentage</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Respiratory rate breath per minute</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="hv-row">
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Blood Group</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Diabetes Mg/dL</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="hv-row">
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Age</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Urea</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="hv-row">
                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Lean Body Mass</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Serum Creatinine</mat-label>
                            <input matInput class="mat-input-fields">
                        </mat-form-field>
                    </div>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button" id="saveButton">Save and Next</button>
                    </div>
                </div>
            </div>
            <!-- ACD Panel -->
            <div id="c-p-acd" *ngIf="sideBarOptions.acd">
                <div class="patient-basic-details">
                    <div class="patient-profile-img">
                        <img src="../../../assets/images/default-user.jpeg">
                    </div>
                    <div class="patient-basics">
                        <p>{{patient_details.patient_name}}</p>
                        <p>johndoe123@example.com</p>
                        <p>Male, 32 yrs | 78952262545</p>
                    </div>
                </div>
                <hr />
                <h4 style="padding: 0 12px;color: #747487;">ACD</h4>
                <div class="medical-history-panel">
                    <mat-tab-group>
                        <mat-tab label="Allergies">

                            <div class="" style="padding-top: 12px;">
                                <h6 style="padding: 0 12px;color: #747487;">Type</h6>
                                <mat-form-field appearance="standard" id="matField">
                                    <input type="text" #allergiesInput class="mat-input-fields" placeholder="Search Allergies" id="matFieldmembership" matInput (keyup)="getAllergiesAutocomplete($event.target.value)" [matAutocomplete]="allergies">
                                    <mat-autocomplete #allergies="matAutocomplete" (optionSelected)="onSelection($event.option.value.id)" [displayWith]="displayFn">
                                        <mat-option *ngFor="let allergie of filteredAllergies" [value]="allergie">
                                            {{allergie.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="">
                                <h6 style="padding: 0 12px;color: #747487;">Description</h6>
                                <mat-form-field appearance="standard" id="matField">
                                    <textarea matInput placeholder="Write Description Here...." class="mat-textarea-description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="">
                                <h6 style="padding: 0 12px;color: #747487;">Severity</h6>
                                <mat-form-field appearance="standard" id="matField">
                                    <mat-label>Severity</mat-label>
                                    <input matInput class="mat-input-fields">
                                </mat-form-field>
                                <!-- <input class="mat-input-fields" id="severity-control" type="text" /> -->
                            </div>
                            <div class="button-space">
                                <button type="button" mat-button class="mat-submit-button">Add Allergy</button>
                            </div>
                        </mat-tab>
                        <mat-tab label="Conditions">
                            <div class="" style="padding-top: 12px;">
                                <h6 style="padding: 0 12px;color: #747487;">Type</h6>
                                <mat-form-field appearance="standard" id="matField">
                                    <input type="text" class="mat-input-fields" placeholder="Search Conditions" id="matFieldmembership" matInput (keyup)="getConditionsAutocomplete($event.target.value)" [matAutocomplete]="conditions">
                                    <mat-autocomplete #conditions="matAutocomplete" (optionSelected)="onSelection($event.option.value.id)" [displayWith]="displayFn">
                                        <mat-option *ngFor="let condition of filteredConditions" [value]="condition">
                                            {{condition.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="">
                                <h6 style="padding: 0 12px;color: #747487;">Notes</h6>
                                <mat-form-field appearance="standard" id="matField">
                                    <textarea matInput placeholder="Write Notes Here...." class="mat-textarea-description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="button-space">
                                <button type="button" mat-button class="mat-submit-button">Add Condition</button>
                            </div>
                        </mat-tab>
                        <mat-tab label="Diagonosis">
                            <div class="" style="padding-top: 12px;">
                                <mat-form-field appearance="standard" id="matField">
                                    <textarea matInput placeholder="Write Diagonosis Here...." class="mat-textarea-description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="button-space">
                                <button type="button" mat-button class="mat-submit-button">Add Diagnosis</button>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <!-- Prescription Panel -->
            <div id="c-p-pres" *ngIf="sideBarOptions.pre">
                <div class="patient-basic-details">
                    <div class="patient-profile-img">
                        <img src="../../../assets/images/default-user.jpeg">
                    </div>
                    <div class="patient-basics">
                        <p>{{patient_details.patient_name}}</p>
                        <p>johndoe123@example.com</p>
                        <p>Male, 32 yrs | 78952262545</p>
                    </div>
                </div>
                <hr />
                <h4 style="padding: 0 12px;color: #747487;">Prescriptions</h4>
                <div class="medical-history-panel">
                    <mat-accordion id="matField">
                        <mat-expansion-panel style="margin: 8px 12px;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Drug Name
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p>Frequency - M-T-F</p>
                                <p>Duration - Morning</p>
                                <p>Total Intake - 12</p>
                                <p>Strength - Low</p>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel style="margin: 8px 12px;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Drug Name
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p>Frequency - M-T-F</p>
                                <p>Duration - Morning</p>
                                <p>Total Intake - 12</p>
                                <p>Strength - Low</p>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button">Add Drug</button>
                    </div>
                </div>
            </div>
            <!-- Lab Test Panel -->
            <div id="c-p-lab" *ngIf="sideBarOptions.lab">
                <div class="patient-basic-details">
                    <div class="patient-profile-img">
                        <img src="../../../assets/images/default-user.jpeg">
                    </div>
                    <div class="patient-basics">
                        <p>{{patient_details.patient_name}}</p>
                        <p>johndoe123@example.com</p>
                        <p>Male, 32 yrs | 78952262545</p>
                    </div>
                </div>
                <hr />
                <h4 style="padding: 0 12px;color: #747487;">Order Lab Test</h4>
                <div class="medical-history-panel">
                    <div class="" style="padding-top: 12px;">
                        <h6 style="padding: 0 12px;color: #747487;">Lab Test</h6>
                        <mat-form-field appearance="standard" id="matField">
                            <textarea matInput placeholder="Write Test Here...." class="mat-textarea-description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="">
                        <h6 style="padding: 0 12px;color: #747487;">Notes</h6>
                        <mat-form-field appearance="standard" id="matField">
                            <textarea matInput placeholder="Write Notes Here...." class="mat-textarea-description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button">Add Test</button>
                    </div>
                </div>
            </div>
            <!-- Summary Panel -->
            <div id="c-p-sum" *ngIf="sideBarOptions.sum">
                <div class="patient-basic-details">
                    <div class="patient-profile-img">
                        <img src="../../../assets/images/default-user.jpeg">
                    </div>
                    <div class="patient-basics">
                        <p>{{patient_details.patient_name}}</p>
                        <p>johndoe123@example.com</p>
                        <p>Male, 32 yrs | 78952262545</p>
                    </div>
                </div>
                <hr />
                <h4 style="padding: 0 12px;color: #747487;">Summary</h4>
                <div class="medical-history-panel">
                    <div class="" style="padding-top: 12px;">
                        <h5 style="padding: 0 12px;color: #747487;">Allergies</h5>
                        <div class="sum-col">
                            <p>Penicillin</p>
                            <p>Dust</p>
                        </div>
                    </div>
                    <div>
                        <h5 style="padding: 0 12px;color: #747487;">Conditions</h5>
                        <div class="sum-col">
                            <p>A</p>
                            <p>B</p>
                        </div>
                    </div>
                    <div>
                        <h5 style="padding: 0 12px;color: #747487;">Diagonosis</h5>
                        <div class="sum-col">
                            <p>A</p>
                            <p>B</p>
                        </div>
                    </div>
                    <div>
                        <h5 style="padding: 0 12px;color: #747487;">Prescriptions</h5>
                        <div class="sum-col">
                            <p>A</p>
                            <p>B</p>
                        </div>
                    </div>
                    <div>
                        <h5 style="padding: 0 12px;color: #747487;">Lab Tests</h5>
                        <div class="sum-col">
                            <p>A</p>
                            <p>B</p>
                        </div>
                    </div>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button" id="saveButton">Set Follow Up</button>
                    </div>
                    <div class="button-space">
                        <button type="button" mat-button class="mat-submit-button" id="saveButton">Complete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>