<div class="parentdiv" fxfullfill>
  <div class="title-line-position">
    <p class="title-line">Register to Heallify!</p>
  </div>

  <mat-card class="card-signup">
    <div class="form-position">

      <label class="input-title">Please Enter Your work Email Address</label>
      <mat-form-field appearance="standard" id="matField">
        <input matInput class="mat-input-fields" id="matField">
      </mat-form-field>

      <label class="input-title">What’s your Mobile number</label>
      <div style="display: flex;">
        <mat-form-field id="matFieldsmall">
          <mat-select class="mat-select-fields">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input matInput type="tel" placeholder="Mobile Number"
          style="margin-top: 2px;border: 1px solid #BDD5EA;height: 40px;">
      </div>

    </div>


    <div class="action-button">
      <div class="signin-button-position">
        <button mat-button class="signin-btn">Sign Up</button>
      </div>
    </div>

    <div class="terms-label-position">
      <label class="terms-label"> By signing up, you agree to our Terms and conditions, and Privacy Policy</label>
    </div>

    <div class="redirect-login-position">
      <label class="redirect-login-label">Already have an account?</label> &nbsp;
      <a class="redirect-login-button" href=""> Login</a>
    </div>
  </mat-card>
</div>
