.side-navigation-icons{
  width: 12px;
  height: 13px;
  cursor: pointer;
}

.sidenav-div {
  width: 52px;
  background-color: #0049B0;
  height: 100vh;
}

// .material-icons {
//   margin-right: 10px
// }

// .shrink span.nav_title {
//   display: none
// }

// .root {
//   background: #0049B0;
//   color: #6b6868 !important;
//   color: #fff !important;
//   z-index: 100;
//   border: solid;
//   border-width: 0 1px 0 0;
//   border-color: #dcdcdc
// }

// mat-nav-list {
//   z-index: 50;
//   width: inherit
// }

// mat-list-item {
//   padding: 0 !important;
//   margin: 0 !important
// }

// .breadcrumb {
//   background-color: #0097A7;
//   width: 110%
// }

// table {
//   width: 100%
// }

// .logo {
//   padding: 20px;
//   display: block;
//   width: 200px
// }

// .menu {
//   align-content: center;
//   align-items: center;
//   margin: 10px;
//   width: 60%
// }

// .material-icons {
//   color: gray
// }

// .mat-card-title {
//   color: #fff !important;
//   font-size: 15px !important
// }

// .mat-card-title.highlight {
//   background-color: #f5f5f5 !important;
//   color: #4e4e4e !important
// }

// .material-icons {
//   color: #fff !important
// }

// .material-icons.highlight {
//   color: #4e4e4e !important
// }

// .mat-card-title:hover {
//   background-color: #b0c4de !important
// }

// .log_out {
//   margin-right: auto;
//   text-transform: none;
//   padding-bottom: 1px
// }

// .mat-list-item {
//   padding-left: 12px
// }
