<div class="sidenav-div">

    <mat-list role="list">
        <mat-list-item role="listitem">
            <img class="side-navigation-icons" matTooltip="Dashboard" src="../../../assets/images/home.svg">
        </mat-list-item>
        <mat-list-item role="listitem">
            <img class="side-navigation-icons" matTooltip="Appointment" src="../../../assets/images/clock.svg" (click)="navigateToAppointment()">
        </mat-list-item>
        <mat-list-item role="listitem">
            <img class="side-navigation-icons" matTooltip="Logout" src="../../../assets/images/power.svg" (click)="OnLogOut()">
        </mat-list-item>
    </mat-list>

</div>