#matbutton {
  width: 124px;
  height: 36px;
  margin: 0px 20px 0px 20px;
}

.decline-label-position {
  margin: 23px 0px 0px 31px;
}

.decline-label {
  color: #34495E;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 2em;
}

.action-button-position {
  margin: 36px 0px 0px 8px;
}