<div>
    <div class="decline-label-position">
        <label class="decline-label">Do You Really want to cancel the Appointment <br> of {{userName | titlecase}}</label>
    </div>
    <div class="action-button-position">
        <button mat-button class="mat-submit-button" (click)="onNoClick()" id="matbutton">No</button>
        <button mat-button class="mat-cancel-button" (click)="updateAppointmentStatus()" id="matbutton">Yes</button>
    </div>
</div>
"