.mat-toolbar-multiple-rows {
  min-height: 52px !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 52px;
}

.heallify-logo-position {
  flex: 0;
  margin-left: 3px;
}

.heallify-logo {
  width: 27px;
  height: 27px;
  border: 1px solid #707070;
  border-radius: 14px;
  vertical-align: middle;
}

.heallify-label-position {
  flex: 0;
  margin-left: 8px;
}

.heallify-label {
  font-size: 12px;
  color: #000000;
  font-weight: 500;
}

.new-appointment-button-position {
  flex: 1;
  text-align: end;
}

.new-appointment-button {
  width: 183px;
  height: 32px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  background-color: #0049B0;
  border: 0px;
  border-radius: 0px;
}

.message-logo-position {
  flex: 0;
  margin-left: 40px;
}

.message-logo {
  width: 13px;
  height: 13px;
}

.bell-logo-position {
  flex: 0;
  margin-left: 30px;
  margin-right: 10px;
}

.bell-logo {
  width: 13px;
  height: 15px;
}

.user-image-position {
  flex: 0;
  margin-left: 35px;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  vertical-align: middle;
}

.user-name-position {
  flex: 0;
  margin-left: 16px;
  margin-right: 57px;
}

.user-name {
  font-size: 11px;
  color: #000000;
  font-weight: 500;
}

// @media screen and (min-width:320px) and (max-width:480px) {}

// @media screen and (min-width:360px) and (max-width:649px) {
//   .heallify-logo {
//     width: 22px;
//     height: 22px;
//   }

//   .new-appointment-button {
//     width: 120px;
//     height: 30px;
//     font-size: 11px;
//   }

//   .message-logo-position {
//     margin-left: 4%;
//   }

//   .bell-logo-position {
//     margin-left: 4%;
//   }

//   .user-image-position {
//     margin-left: 3%;
//   }

//   .user-name-position {
//     margin-left: 1%;
//     margin-right: 1%;
//   }

//   .mat-toolbar-row {
//     padding: 0 5px;
//   }
// }
