<mat-toolbar>
    <mat-toolbar-row>


        <div class="new-appointment-button-position">
            <!-- <button mat-button class="new-appointment-button" (click)="navigateToNewAppointment()">New Appointment</button> -->
        </div>

        <div class="message-logo-position">
            <img class="message-logo" src="../../../assets/images/message-square.svg">
        </div>

        <div class="bell-logo-position">
            <img class="bell-logo" src="../../../assets/images/bell.svg">
        </div>

        <!-- <div class="user-image-position">
      <img class="user-image" src="../../../assets/user-image.png">
    </div>

    <div class="user-name-position">
      <label class="user-name">Ashish Chutake</label>
    </div> -->
    </mat-toolbar-row>
</mat-toolbar>