<div *ngIf="validatingFields.invalid">
  
    <mat-error class="usernameValid" *ngIf="validatingFields.errors.pattern">
    <span *ngIf="passwordPattern != 'true'"> Invalid email</span> 
    <span *ngIf="passwordPattern === 'true'"> 
      Password should contains 1 Uppercase, 1 special character, 1 numeric and minimum 8 characters
    </span> 
    </mat-error>
    
    <mat-error class="usernameValid" *ngIf="validatingFields.errors.required">
      Required field
    </mat-error>
  
    <mat-error class="usernameValid" *ngIf="validatingFields.errors.minlength || validatingFields.errors.maxlength">
      Mobile Number should be of 10 digits
    </mat-error>
  </div>
  
  
  