<div class="appointment-div">
    <div class="appointment-right-div">
        <div class="conditions-form-position">
            <div class="appointment-label-position">
                <label class="appointment-label">Appointment List</label>
                <mat-form-field appearance="standard" id="matField" class="mat-appoitment-search">
                    <mat-label>Search Appointment Here</mat-label>
                    <input matInput class="mat-input-fields" (keyup)="applyFilter($event)" placeholder="Ex. John Doe">
                    <i class="search-icon">
                        search
                    </i>
                </mat-form-field>
            </div>

            <div class="appointment-filter-position">
                <div class="filter-button-position">
                    <button mat-button [ngClass]="{'filter-button':true,'filter-button-focus':autoFocusStatus.past}" (click)="getPastAppointments('past')" autofocus="autoFocusStatus.past">Past</button>
                </div>
                <div class="filter-button-position">
                    <button mat-button [ngClass]="{'filter-button':true,'filter-button-focus':autoFocusStatus.today}" (click)="getCurrentAppointments('today')" autofocus="autoFocusStatus.today">Todays</button>
                </div>
                <div class="filter-button-position">
                    <button mat-button [ngClass]="{'filter-button':true,'filter-button-focus':autoFocusStatus.upcoming}" (click)="getAllAppointments('upcoming')" autofocus="autoFocusStatus.upcoming">Upcoming</button>
                </div>
            </div>

            <div class="appointment-list-position mat-elevation-z8" [hidden]="nodata">

                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table-position" matSort>

                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr No</th>
                        <td mat-cell *matCellDef="let element let i = index;"> {{dataSource.filteredData.indexOf(element) + 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="patient_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name</th>
                        <td class="app-patient-name" mat-cell *matCellDef="let element"> {{element.patient_name | titlecase}} </td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                        <td mat-cell *matCellDef="let element"> {{(element.age) ? element.age : "--"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appointment_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.appointment_date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appointment_time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time</th>
                        <td mat-cell *matCellDef="let element"> {{element.appointment_time}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
                        <td mat-cell *matCellDef="let element">
                            <img src="../../../../assets/images/walk.png" *ngIf="element.type == 'Walk-in'">
                            <span *ngIf="element.type != 'Walk-in'" style="color: #52af50;font-size: 25px;"><i class="fa fa-video-camera"></i></span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="payment_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment</th>
                        <td mat-cell *matCellDef="let element"> {{element.payment_status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef style="text-align: left !important;">Visit Details</th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" [hidden]="element.status == '2' || element.status == '6' || element.status == '3'" class="mat-submit-button" id="matbutton" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">Start Visit</button>
                            <button type="button" *ngIf="element.status == '3'" class="mat-submit-button mat-see-details" id="matbutton" (click)="goToEHR(element.appointment_id, element.status)">Fill EHR</button>
                            <button type="button" *ngIf="element.status == '6'" class="mat-submit-button mat-see-details" id="matbutton" (click)="goToEHR(element.appointment_id, element.status)">See Details</button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'status-complete': element.status == '6', 'status-pending': element.status == '1', 'status-noshow': element.status == '7','status-reschedule': element.status == '5'}"> {{element.appointment_status}} </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="matbuttonap-position">
                                    <button type="button" class="mat-submit-button" id="matbuttonap" style="background-color:#27AE60" (click)="navigateToMedicalHistory(element, '3')">Accept</button>
                                    <button type="button" class="mat-submit-button" id="matbuttonap" style="background-color:#E74C3C" (click)="openDeclineDialog(element)">Decline</button>
                                    <button type="button" class="mat-submit-button" id="matbuttonap" style="background-color:#8E44AD" (click)="openRescheduleDialog(element)">Reschedule</button>
                                    <button type="button" class="mat-submit-button" id="matbuttonap" style="background-color:#F1E00E" (click)="updateAppointmentStatus(element.appointment_id, '7')">No Show</button>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
                <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

            <div *ngIf="nodata" class="no-appnt">
                <img src="../../../../assets/images/no-appointments.png">
                <p>
                    <span *ngIf="noappointments.today">No Appointment scheduled for today</span>
                    <span *ngIf="noappointments.upcoming">No upcoming appointments</span>
                    <span *ngIf="noappointments.past">No past appointments</span>
                </p>
            </div>

        </div>
    </div>