.appointment-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.appointment-right-div {
    width: 100%;
}

.appointment-label-position {
    margin-top: 18px;
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.appointment-label {
    color: #1C3E60;
    font-size: 16px;
    font-weight: 600;
    margin-top: -10px;
}

.appointment-filter-position {
    display: flex;
    flex-direction: row;
    // margin-top: 20px;
}

.filter-button-position {
    padding-left: 24px;
}

.filter-button {
    border: 1px solid #CDD9E3;
    background-color: #F8F8F8;
    width: 136px;
    height: 35px;
    font-size: 12px;
    border-radius: 18px;
    color: #1C3E60;
}

.filter-button-focus {
    background-color: #1C3E60;
    color: #ffffff;
    outline: none;
}

.appointment-list-position {
    // margin: 28px 24px;
    margin-top: 30px;
}

table {
    width: 100%;
}

.table-position {
    border: 1px solid #E2E2E2;
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

#matbutton {
    width: 120px;
    height: 28px;
    font-size: 11px;
    border: 0px;
}

.mat-see-details {
    background: white;
    border: 1px solid #1C3E60 !important;
    color: #1C3E60;
}

#matbuttonap {
    width: 120px;
    height: 28px;
    font-size: 11px;
    border: 0px;
    margin-right: 44px;
}

.matbuttonap-position {
    margin: 25px 0px 25px 20px;
}

td.mat-cell {
    text-align: left;
    width: 50px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 0px;
}

// td.mat-cell:first-of-type,
// td.mat-footer-cell:first-of-type {
//     padding-left: 0px;
// }
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-appoitment-search .mat-form-field-flex {
    padding: 0 !important;
}

#matField {
    width: 428px;
    margin-left: 24px;
    margin-top: -8px;
}

.search-icon {
    font-family: "Material Icons";
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    // margin-left: 400px;
    // margin-top: -32px;
    right: 8px;
    top: 11px;
    color: #849FB4;
}

.status-complete {
    color: #32a75d;
}

.status-pending {
    color: #e3513f;
}

.status-noshow {
    color: #F1E00E;
}

.status-reschedule {
    color: #8733ad;
}

.app-patient-name {
    width: 150px;
    text-align: left;
}

.no-appnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #696969;
    margin-top: 30px;
}