<div class="ehr-sidebar">
    <div class="top-label-position">
        <div class="EHR-label-position">
            <label class="EHR-label">EHR</label>
        </div>
        <div class="botton-label">
            <label>Electronic Health Records</label>
        </div>
    </div>

    <div class="user-details-position">
        <div class="user-image-position">
            <img src="../../../../assets/images/user-image2x.png" class="user-image">
        </div>
        <div class="user-name-position">
            <label class="user-name">Ashish Chutake</label>
        </div>
        <div class="user-gender-position">
            <label class="user-gender">Gender - Male</label>
        </div>
        <div class="user-dob-position">
            <label class="user-dob">DOB - 21/12/1991</label>
        </div>
    </div>

    <div class="button-position">

        <mat-nav-list class="position">
            <mat-list-item *ngFor="let link of ehrLinks" class="mat-card-title" [class.shrink]="mDrawerShrink" [routerLink]='link.route' routerLinkActive='highlight'>
                <span class="nav_title" style="width:100%;padding-left: 5px;">{{link.title}}</span>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>