.ehr-sidebar {
  width: 166px;
  height: 100vh;
  background: #F4F5F7;
  text-align: center;
}

.EHR-label-position {
  padding-top: 18px;
}

.EHR-label {
  color: #1C3E60;
  font-weight: 500;
}

.botton-label {
  font-size: 10px;
  color: #849FB4;
}

.user-details-position {
  margin-top: 20px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 23px;
}

.user-name-position {
  margin-top: 7px;
  line-height: 1em;
}

.user-name {
  font-size: 14px;
  color: #849FB4;
  font-weight: 400;
}

.user-gender-position {
  margin-top: 2px;
  line-height: 1em;
}

.user-gender {
  font-size: 10px;
  color: #849FB4;
  font-weight: 400;
}

.user-dob-position {
  margin-top: 2px;
  line-height: 1em;
}

.user-dob {
  font-size: 10px;
  color: #849FB4;
  font-weight: 400;
}

.ehr-filter-button {
  width: 144px !important;
  height: 40px !important;
  margin: 18px 0px 0px 0px;
  font-size: 12px;
  font-weight: 500;
  color: #0049B0;
}

.ehr-filter-button:focus {
  background-color: #D8D8D8 !important;
}

.mat-card-title {
  color: #1C3E60 !important;
  font-size: 12px !important
}

.mat-card-title.highlight {
  background-color: #dddee6 !important;
}

.position{
  text-align: left;
}
