<div class="patient-div">
    <div class="patient-right-div">
        <div class="register-label-position">
            <label class="title-label">Register New Patient</label>
            <mat-divider></mat-divider>
        </div>
        <div class="patient-form-position">
            <form [formGroup]="addPatientForm">
                <div>
                    <mat-form-field id="matFieldAddress" style="margin-top: 20px;">
                        <mat-label>Select Clinic</mat-label>
                        <mat-select [(value)]="selectedClinic" [ngClass]="{'mat-select-fields':true,'has-error':(submitted && addPatientForm.get('clinic_id').errors) || addPatientForm.get('clinic_id').errors && (addPatientForm.get('clinic_id').touched || addPatientForm.get('clinic_id').dirty)}"
                            formControlName="clinic_id" required>
                            <mat-option *ngFor="let clinic of clinics" [value]="clinic.clinic_id">
                                {{clinic.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="(submitted && addPatientForm.get('clinic_id').errors) || addPatientForm.get('clinic_id').errors && (addPatientForm.get('clinic_id').touched || addPatientForm.get('clinic_id').dirty)" class="invalid-feedback">
                        <div *ngIf="addPatientForm.get('clinic_id').errors.required">* Clinic is required</div>
                    </div>
                </div>

                <div style="margin-top: 30px;">

                    <mat-form-field id="mat-custom-datepicker-field">
                        <mat-label>Appointment Date</mat-label>
                        <input matInput [matDatepicker]="appointmentpicker" [min]="today" [ngClass]="{'mat-select-fields':true,'has-error':(submitted && addPatientForm.get('appointment_date').errors) || addPatientForm.get('appointment_date').errors && (addPatientForm.get('appointment_date').touched || addPatientForm.get('appointment_date').dirty)}"
                            formControlName="appointment_date" required>
                        <mat-datepicker-toggle matSuffix [for]="appointmentpicker"></mat-datepicker-toggle>
                        <mat-datepicker #appointmentpicker></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="(submitted && addPatientForm.get('appointment_date').errors) || addPatientForm.get('appointment_date').errors && (addPatientForm.get('appointment_date').touched || addPatientForm.get('appointment_date').dirty)" class="invalid-feedback">
                        <div *ngIf="addPatientForm.get('appointment_date').errors?.required">* Appointment Date is required</div>
                    </div>
                    <div>
                        <mat-label style="color: #849FB4 !important;font-weight: 400 !important;">Appointment Time</mat-label>
                        <timepicker placeholder="Start Time" [(ngModel)]="time" class="appo-timepicker" formControlName="appointment_time" id="matTimeField"></timepicker>
                        <div *ngIf="addPatientForm.get('appointment_time').errors && (addPatientForm.get('appointment_time').touched || addPatientForm.get('appointment_time').dirty)" class="invalid-feedback">
                            <div *ngIf="addPatientForm.get('appointment_time').errors?.required">* Appointment Time is required</div>
                        </div>
                    </div>
                </div>

                <div>
                    <mat-form-field id="matFieldAddress" style="margin-top: 20px;">
                        <mat-label>Appointment Reasons</mat-label>
                        <mat-select [ngClass]="{'mat-select-fields':true,'has-error':(submitted && addPatientForm.get('appointment_reason_id').errors) || addPatientForm.get('appointment_reason_id').errors && (addPatientForm.get('appointment_reason_id').touched || addPatientForm.get('appointment_reason_id').dirty)}"
                            formControlName="appointment_reason_id" (selectionChange)="checkExistingFirst($event)" required>
                            <mat-option *ngFor="let reason of reasons" [value]="reason.id">
                                {{reason.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="addPatientForm.get('appointment_reason_id').errors && addPatientForm.get('appointment_reason_id').touched || addPatientForm.get('appointment_reason_id').dirty" class="invalid-feedback">
                        <div *ngIf="addPatientForm.get('appointment_reason_id').errors?.required">* Appointment Reason is required</div>
                    </div>
                </div>
                <div class="hide-check-existing" *ngIf="registerNew">
                    <div>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>First Name</mat-label>
                            <input matInput [ngClass]="{'mat-input-fields':true, 'has-error': (submitted && addPatientForm.get('first_name').errors) || addPatientForm.get('first_name').errors && (addPatientForm.get('first_name').touched || addPatientForm.get('first_name').dirty)}"
                                id="matField" formControlName="first_name" required>
                            <div *ngIf="(submitted && addPatientForm.get('first_name').errors) || addPatientForm.get('first_name').errors && (addPatientForm.get('first_name').touched || addPatientForm.get('first_name').dirty)" class="invalid-feedback">
                                <div *ngIf="addPatientForm.get('first_name').errors.required">* First Name is required</div>
                            </div>
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Last Name</mat-label>
                            <input matInput class="mat-input-fields" id="matField" formControlName="last_name">
                            <!-- <div *ngIf="submitted && addPatientForm.first_name.errors" class="invalid-feedback">
                                <div *ngIf="addPatientForm.first_name.errors.required">Name is required</div>
                            </div> -->
                        </mat-form-field>

                    </div>

                    <div>
                        <mat-form-field id="matField">
                            <mat-label>Country Code</mat-label>
                            <mat-select [ngClass]="{'mat-select-fields':true,'has-error': (submitted && addPatientForm.get('country_code').errors) || addPatientForm.get('country_code').errors && (addPatientForm.get('country_code').touched || addPatientForm.get('country_code').dirty)}"
                                formControlName="country_code" [(value)]="country_code" required>
                                <mat-option value="91">+91 India</mat-option>
                            </mat-select>
                            <div *ngIf="addPatientForm.get('country_code').errors && (addPatientForm.get('country_code').touched || addPatientForm.get('country_code').dirty)" class="invalid-feedback">
                                <div *ngIf="addPatientForm.get('country_code').errors.required">* Country code is required</div>
                            </div>
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Mobile number</mat-label>
                            <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && addPatientForm.get('mobile').errors) || addPatientForm.get('mobile').errors && (addPatientForm.get('mobile').touched || addPatientForm.get('mobile').dirty)}" id="matField"
                                minlength="10" maxlength="10" (keypress)="isNumberKey($event)" formControlName="mobile" required autocomplete="off">
                            <div *ngIf="(submitted && addPatientForm.get('mobile').errors) || addPatientForm.get('mobile').errors && (addPatientForm.get('mobile').touched || addPatientForm.get('mobile').dirty)" class="invalid-feedback">
                                <div *ngIf="addPatientForm.get('mobile').errors.required">* Mobile is required</div>
                                <div *ngIf="addPatientForm.get('mobile').errors.minlength || addPatientForm.get('mobile').errors.maxlength">* Invalid mobile number</div>
                            </div>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field id="matField">
                            <mat-label>Booking For</mat-label>
                            <mat-select class="mat-select-fields" formControlName="relation_id">
                                <mat-option *ngFor="let booking of bookings" [value]="booking.id">
                                    {{booking.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field id="mat-custom-datepicker-field">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" class="mat-select-fields" formControlName="dob" (dateInput)="onDate($event.value)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div>

                        <mat-form-field appearance="standard" id="matField">
                            <mat-label>Email ID</mat-label>
                            <input type="email" matInput class="mat-input-fields" id="matField" formControlName="email">
                            <div *ngIf="addPatientForm.get('email').errors && (addPatientForm.get('email').touched || addPatientForm.get('email').dirty)" class="invalid-feedback">
                                <div *ngIf="addPatientForm.get('email').errors?.pattern">* Invalid email address</div>
                            </div>
                        </mat-form-field>

                        <mat-form-field id="matField">
                            <mat-label>Gender</mat-label>
                            <mat-select class="mat-select-fields" formControlName="gender">
                                <mat-option *ngFor="let gender of genders" [value]="gender">
                                    {{gender}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="standard" id="matFieldAddress">
                            <mat-label>Address Line</mat-label>
                            <input matInput class="mat-input-fields" id="matFieldAddress" formControlName="address">
                        </mat-form-field>
                    </div>

                    <div>

                        <mat-form-field appearance="standard" id="matFieldsmall">
                            <mat-label>City</mat-label>
                            <input matInput class="mat-input-fields" formControlName="city">
                        </mat-form-field>

                        <mat-form-field id="matFieldsmall">
                            <mat-label>State</mat-label>
                            <mat-select class="mat-select-fields" formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state">
                                    {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matFieldsmall">
                            <mat-label>Zip Code</mat-label>
                            <input matInput class="mat-input-fields" formControlName="zipcode" minlength="6" maxlength="6" (keypress)="isNumberKey($event)">
                            <!-- <div *ngIf="addPatientForm.get('zipcode').errors && (addPatientForm.get('zipcode').touched || addPatientForm.get('zipcode').dirty)" class="invalid-feedback">
                                <div *ngIf="addPatientForm.get('zipcode').errors.min || addPatientForm.get('zipcode').errors.max">* Zipcode should be atleast 6 digits</div>
                            </div> -->
                        </mat-form-field>

                        <mat-form-field appearance="standard" id="matFieldsmall">
                            <mat-label>Country</mat-label>
                            <input matInput class="mat-input-fields" formControlName="country">
                        </mat-form-field>
                    </div>

                    <div>
                        <label class="title-label">Vitals</label>
                    </div>

                    <!-- <mat-form-field appearance="standard" id="matFieldsmall">
                        <mat-label>Height</mat-label>
                        <input matInput class="mat-input-fields" formControlName="height">
                    </mat-form-field> -->

                    <mat-form-field appearance="standard" id="matFieldsmall">
                        <mat-label>Weight in Kg</mat-label>
                        <input matInput class="mat-input-fields" formControlName="weight" minlength="3" maxlength="3" min="1" max="500" (keypress)="isNumberKey($event)">
                        <div *ngIf="addPatientForm.get('weight').errors && (addPatientForm.get('weight').touched || addPatientForm.get('weight').dirty)" class="invalid-feedback">
                            <div *ngIf="addPatientForm.get('weight').errors.min || addPatientForm.get('weight').errors.max">* Weight can be 500 kg max.</div>
                        </div>
                    </mat-form-field>

                    <mat-form-field id="matFieldsmall">
                        <mat-label>Blood Group</mat-label>
                        <mat-select class="mat-select-fields" formControlName="bloodgroup">
                            <mat-option *ngFor="let group of blood_groups" [value]="group.id">
                                {{group.blood_group}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matFieldsmall">
                        <mat-label>Age</mat-label>
                        <input matInput class="mat-input-fields" formControlName="age" minlength="3" maxlength="3" min="1" max="150" (keypress)="isNumberKey($event)">
                        <div *ngIf="addPatientForm.get('age').errors && (addPatientForm.get('age').touched || addPatientForm.get('age').dirty)" class="invalid-feedback">
                            <div *ngIf="addPatientForm.get('age').errors.min || addPatientForm.get('age').errors.max">* Age should enter between 1 - 150</div>
                        </div>
                    </mat-form-field>

                    <!-- <div>
                        <label class="title-label">Allergies</label>
                    </div>

                    <mat-form-field appearance="standard" id="matFieldAddress">
                        <input matInput class="mat-input-fields" id="matFieldAddress" placeholder="Ex. Dust" formControlName="allergies" required>
                    </mat-form-field> -->

                    <div class="action-button-position">
                        <button mat-button class="save-button" (click)="registerPatient(0)">Submit</button>
                        <button type="button" mat-button class="startopd-button" (click)="registerPatient(1)">Start OPD</button>
                        <button mat-button class="save-button" style="margin-left: 30px;" (click)="cancelApp()">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="check-existing-patient" *ngIf="checkExistence">
                <label class="title-label">Check Patient</label>
                <mat-divider></mat-divider>
                <div class="dflex-prob">
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Enter Name or Mobile</mat-label>
                        <!-- <input matInput class="mat-input-fields" id="matField" formControlName="first_name" required> -->
                        <input type="text" id="matField" class="mat-input-fields" placeholder="Enter Name or Mobile" matInput (keyup)="searchExistingPatient($event.target.value)" [matAutocomplete]="searchPatient">
                        <mat-autocomplete #searchPatient="matAutocomplete" [displayWith]="displayFn" (optionSelected)='selectedPatient($event.option.value)'>
                            <mat-option *ngFor="let patient of filteredPatient" [value]="patient">
                                {{patient.patient_name}}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <div *ngIf="submitted && addPatientForm.first_name.errors" class="invalid-feedback">
                            <div *ngIf="addPatientForm.first_name.errors.required">Name is required</div>
                        </div> -->
                    </mat-form-field>
                    <p class="or">OR</p>
                    <button mat-raised-button color="primary" class="new-register" (click)="registerNew = true;checkExistence = false;">Register New Patient</button>
                </div>
                <div class="found-patients" *ngIf="existingPatient">
                    <div class="confirmation-class">
                        <div class='ask-before-book' *ngIf="existingPatient.length > 0">
                            <p style="color:#696969">Select patient or its family member from list.</p>
                            <div class="make-it-scroll">
                                <div *ngFor="let patient of existingPatient" class="found-single-patient" (click)="getConfirmation(patient)">
                                    <div class="patient=info">
                                        <p>{{patient.first_name+' '+patient.last_name}}</p>
                                        <p class="pm-0">{{patient.age ? patient.age : '--'}} | {{patient.gender?patient.gender:'--'}}</p>
                                    </div>
                                    <div *ngIf="patient.relation">
                                        <mat-chip color="primary" selected>{{patient.relation}}</mat-chip>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button color="primary" class="new-register-member" style="margin-top: 20px;" (click)="addFamilyMember()"><i class="fa fa-user-plus"></i>  Add New Family Member</button>
                        </div>
                        <div class="confirmation" *ngIf="confirmation_user">
                            <h2>Confirmation</h2>
                            <p>Are you sure want to book appointment for {{confirmation_user.first_name | titlecase}}?</p>
                            <div class="confirmation-action">
                                <button mat-raised-button color="primary" class="new-register-member" (click)="bookAppointmentForExistingUser(confirmation_user)">Book Appointment</button>
                                <button mat-raised-button color="primary" class="new-register-member" style="margin-left: 25px;" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [disabled]="addPatientForm.invalid"
[disabled]="addPatientForm.invalid" -->

    </div>
</div>