.patient-div {
    display: flex;
    flex-direction: row;
}

.patient-right-div {
    width: 100%;
}

.register-label-position {
    margin-top: 18px;
    margin-left: 15px;
}

.title-label {
    color: #1C3E60;
    font-size: 16px;
    font-weight: 600;
}

.title-label-position {
    margin-top: 37px;
}

.patient-form-position {
    margin-left: 15px;
}

#matField {
    width: 570px !important;
    margin-right: 22px;
}

#matFieldAddress {
    width: 1160px !important
}

#matFieldsmall {
    width: 273px;
    margin-right: 22px;
}

#role-dropdown {
    width: 593px;
    height: 40px;
    border: 1px solid #CDD9E3;
    font-size: 12px;
    color: #849FB4;
    padding-left: 10px;
    background-color: #F8F8F8;
}

.save-button {
    width: 183px;
    height: 40px;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 13px;
    background-color: #1C3E60;
    border: 0px;
    border-radius: 0px;
}

.startopd-button {
    width: 374px;
    height: 40px;
    color: #1C3E60;
    font-weight: 500;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid #1C3E60 !important;
    border-radius: 0px !important;
    margin-left: 30px !important;
}

.startopd-button:active {
    color: #ffffff;
    background-color: #27AE60;
    border: 0px;
}

.action-button-position {
    text-align: left;
    // margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
    #matField {
        width: 450px !important
    }
    #matFieldAddress {
        width: 920px !important;
    }
    #matFieldsmall {
        width: 215px;
    }
}

@media only screen and (max-width: 768px) {
    #matFieldAddress {
        width: 665px !important;
    }
    #matField {
        width: 320px !important;
    }
    #matFieldsmall {
        width: 320px;
    }
    .action-button-position {
        margin-right: 4%;
    }
}

.mat-datepicker-toggle {
    margin-right: 10px !important;
}

#mat-custom-datepicker-field {
    width: 603px !important;
    margin-right: 0;
}

:host ::ng-deep .appo-timepicker table {
    margin-top: 35px;
    width: 100%;
    text-align: center;
}

:host ::ng-deep .appo-timepicker table input {
    margin: auto;
}

.mat-datepicker-toggle .mat-icon-button.mat-button-base {
    right: 30px !important;
    top: -12px !important;
}

.dflex-prob .new-register {
    margin-top: -12px;
    padding: 3px 16px;
    margin-left: 30px;
    // width: 183px;
    height: 40px;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 13px;
    background-color: #1C3E60;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.dflex-prob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.or {
    font-size: 25px;
    font-weight: 600;
    color: #969696;
}

.check-existing-patient {
    padding-right: 14px;
}

.found-patients {
    margin: 12px 0 15px;
    // display: flex;
    // flex-direction: column;
}

.confirmation-class {
    display: flex;
    flex-wrap: wrap;
}

.ask-before-book {
    display: flex;
    flex-direction: column;
    // flex: 1;
}

.confirmation {
    flex: 4;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #696969;
}

.confirmation h2 {
    margin-bottom: 15px;
    margin-top: 0;
}

.confirmation p {
    font-size: 20px;
}

.confirmation-action {
    width: 100%;
}

.found-single-patient {
    display: inline-flex;
    // width: 100%;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 8px 22px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 6px;
    color: #888989;
    cursor: pointer;
}

.found-single-patient:hover {
    background: #efefef;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.pm-0 {
    margin: 0;
}

.mat-chip {
    padding: 3px 15px;
    border-radius: 30px;
}

.found-patients .new-register-member {
    // width: 183px;
    height: 40px;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 13px;
    background-color: #1C3E60;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.invalid-feedback {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

.has-error {
    border: 1px solid red !important;
}

.make-it-scroll {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: auto;
}