.profile-div {
  display: flex;
  flex-direction: row;
}

.profile-right-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.profile-position {
  margin-left: 23px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-row {
  display: flex;
  flex-direction: row;
}

.profile-label-position {
  flex: 1;
  margin: 18px 0px 0px 0px;
}

.profile-label {
  color: #1C3E60;
  font-weight: 500;
}

.profileInfo-position {
  width: 689px;
  height: 262px;
  background-color: #FCFCFC;
  border: 1px solid #BDD5EA;
  margin-top: 20px;
}

.title-position {
  margin-top: 16px;
  margin-left: 21px;
  display: flex;
}

.main-title {
  color: #849FB4;
  font-size: 13px;
  flex: 0 1 25%;
}

.sub-title {
  color: #34495E;
  font-size: 13px;
  flex: 1;
  margin-left: 39px;
}
