<div class="profile-div">

    <div class="profile-right-div">
        <div style="background: #F4F5F7;">
            <app-patient-history-sidenav></app-patient-history-sidenav>
        </div>
        <div class="profile-position">
            <div class="profile-row">
                <div class="profile-label-position">
                    <label class="profile-label">Profile</label>
                </div>
            </div>

            <div class="profileInfo-position">
                <div class="title-position">
                    <label class="main-title">Full name</label>
                    <span>:</span>
                    <label class="sub-title">{{(patientInfo.patient_name) ? patientInfo.patient_name : '--'}}</label>
                </div>
                <div class="title-position">
                    <label class="main-title">Email ID</label>
                    <span>:</span>
                    <label class="sub-title">{{(patientInfo.email) ? patientInfo.email : '--'}}</label>
                </div>
                <div class="title-position">
                    <label class="main-title">Mobile number</label>
                    <span>:</span>
                    <label class="sub-title">{{(patientInfo.contact) ? patientInfo.contact : '--'}}</label>
                </div>
                <div class="title-position">
                    <label class="main-title">Gender</label>
                    <span>:</span>
                    <label class="sub-title">{{patientInfo.gender == "m" ? "Male":"Female" }}</label>
                </div>
                <div class="title-position">
                    <label class="main-title">Date of Birth</label>
                    <span>:</span>
                    <label class="sub-title">{{(patientInfo.date_of_birth) ? patientInfo.date_of_birth : '--' }}</label>
                </div>
                <div class="title-position">
                    <label class="main-title">Address</label>
                    <span>:</span>
                    <label class="sub-title">
                        {{((patientInfo.address) ? patientInfo.address : '--') + ', ' + ((patientInfo.area) ? patientInfo.area: '-') + ', ' + (patientInfo.city) ? patientInfo.city: '--'}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>