<div class="add-drug-container">

    <div class="add-drug-position">
        <div>
            <label class="label-add-drug">Add Drug</label>
        </div>

        <div>
            <mat-form-field appearance="standard" id="matField" style="margin-top: 15px" id="matField">
                <mat-label>Search Drug Database</mat-label>
                <input matInput class="mat-input-fields" id="matField">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Drug Name *</mat-label>
                <input matInput class="mat-input-fields" id="small-field">
            </mat-form-field>

            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Generic Name</mat-label>
                <input matInput class="mat-input-fields" id="small-field">
            </mat-form-field>
        </div>

        <div class="company-field-position">
            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Company</mat-label>
                <input matInput class="mat-input-fields" id="small-field">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Dosage</mat-label>
                <input matInput class="mat-input-fields" id="small-field">
            </mat-form-field>
            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Dosage Unit</mat-label>
                <!-- <input matInput class="mat-input-fields" id="small-field"> -->

                <mat-select class="mat-input-fields" id="small-field">
                    <mat-option *ngFor="let unit of dosageUnit" [value]="unit.id">
                        {{unit.dosage_unit}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Duration in days *</mat-label>
                <mat-select class="mat-input-fields" id="small-field">
                    <mat-option *ngFor="let duration of durations" [value]="duration">
                        {{duration}}
                    </mat-option>
                </mat-select>
                <!-- <input matInput class="mat-input-fields" id="small-field"> -->
            </mat-form-field>

            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Frequency</mat-label>
                <mat-select class="mat-input-fields" id="small-field">
                    <mat-option *ngFor="let frequency of frequencies" [value]="frequency.id">
                        {{frequency.frequency}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div>
            <mat-checkbox class="timing-checkbox">Morning</mat-checkbox>
            <mat-checkbox class="timing-checkbox">Afternoon</mat-checkbox>
            <mat-checkbox class="timing-checkbox" style="margin-right: 0px;">Evening</mat-checkbox>
        </div>

        <div class="note-position">
            <mat-form-field appearance="standard" id="small-field">
                <mat-label>Notes</mat-label>
                <input matInput class="mat-input-fields" id="small-field">
            </mat-form-field>
        </div>

        <div class="button-space">
            <button type="button" mat-button class="mat-cancel-button" (click)="onClose()">Cancel</button>
            <button type="button" mat-button class="mat-submit-button" style="margin-left: 22px;">Add</button>
        </div>
    </div>
</div>