.add-drug-container {
  width: 100%;
}

.label-add-drug {
  color: #1C3E60;
  font-size: 15px;
  font-weight: 600;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  border: 0px;
}

.add-drug-position {
  display: flex;
  flex-direction: column;
  margin: 27px 0px 0px 36px;
  height: auto;
}

.button-space {
  margin-top: 10px;
  text-align: right;
  margin-right: 4%;
  margin-bottom: 27px;
}

#matField {
  width: 513px !important;
}

#small-field {
  width: 242px !important;
  margin-right: 30px;
}

.company-field-position {
  display: flex;
}

.timing-checkbox {
  margin-right: 81px;
}

.note-position {
  margin-top: 20px;
}

.matLabel {
  font-size: 12px;
  color: #1C3E60;
}

#upload-button {
  margin-top: 10px;
  width: 98px;
  height: 33px;
  border: 1px solid #CDD9E3 !important;
  font-size: 10px;
  color: #1C3E60;
}

@media screen and (min-width:760px) and (max-width:1024px) {
  #matField {
    width: 540px !important;
  }
}
