<div class="add-drug-container">
    <div class="add-drug-position">
        <div>
            <label class="label-add-drug">Add Reports</label>
        </div>
        <form [formGroup]="addLabReportForm" (ngSubmit)="addLabReports(addLabReportForm.value)">
            <div>
                <mat-form-field appearance="standard" id="matField" style="margin-top: 15px" id="matField">
                    <mat-label>Type</mat-label>
                    <input matInput class="mat-input-fields" formControlName="type" id="matField">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="standard" id="matField" style="margin-top: 15px" id="matField">
                    <mat-label>Reading</mat-label>
                    <input matInput class="mat-input-fields" formControlName="reading" id="matField">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="standard" id="matField" style="margin-top: 15px" id="matField">
                    <mat-label>Treated By</mat-label>
                    <input matInput class="mat-input-fields" formControlName="treated_by" id="matField">
                </mat-form-field>
            </div>

            <div class="note-position">
                <mat-form-field appearance="standard" id="small-field">
                    <mat-label>Date</mat-label>
                    <input matInput class="mat-input-fields" formControlName="date" id="small-field">
                </mat-form-field>
            </div>

            <div class="note-position">
                <div class="field-height">
                    <mat-label class="matLabel">Upload Report</mat-label>
                    <div style="display:flex">
                        <div>
                            <div class="upload-text">
                                <input fxHide id="reports" class="uploadbutton" type="file" accept=".png, .jpg, .jpeg" (change)="onImageUpload($event)" [(ngModel)]="report_image" #report="ngModel" [ngModelOptions]="{standalone: true}">
                            </div>
                            <button type="button" mat-button class="mat-cancel-button" id="upload-button" (click)="OnUploadSelected('reports')">Choose File</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-space">
                <button type="button" mat-button class="mat-cancel-button" (click)="onClose()">Cancel</button>
                <button type="submit" mat-button class="mat-submit-button" style="margin-left: 22px;">Add</button>
            </div>
        </form>
    </div>
</div>