<div class="top-section">
    <p class="main-title">Dashboard</p>
    <mat-divider style="color:#D5CDCD"></mat-divider>
    <div class="cards-section">
        <mat-card class="info-cards">
            <div>
                <img src="../../../assets/images/Doctor.svg" class="card-image" alt="" />
            </div>
            <div class="description">
                <p class="card-number">{{appointmentCount}}</p>
                <p class="card-role">Today Appointments</p>
                <a class="card-link" routerLink="../appointment">View Details</a>
            </div>
        </mat-card>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <mat-card class="info-cards">
            <div>
                <img src=".../../../assets/images/Hospital.svg" class="card-image" alt="" />
            </div>
            <div class="description">
                <p class="card-number">{{patientCount}}</p>
                <p class="card-role">Patients</p>
                <a class="card-link" routerLink="../patientlist">View Details</a>
            </div>
        </mat-card>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <mat-card class="info-cards">
            <div>
                <img src="../../../assets/images/Doctor.svg" class="card-image" alt="" />
            </div>
            <div class="description">
                <p class="card-number">{{clinicCount}}</p>
                <p class="card-role">New Clinics</p>
                <a class="card-link" routerLink="../clinic">View Details</a>
            </div>
            <button routerLink="../clinic" class="add-button">+</button>
        </mat-card>
    </div>
</div>

<div class="graph-section">
    <div class="graph">
        <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
        </google-chart>
    </div>
    <div class="graph">
        <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
        </google-chart>
    </div>
</div>

<div class="table-section">
    <!-- <p class="graph-title">Appointments</p> -->
    <p class="main-title">Appointments</p>
    <mat-divider style="color:#D5CDCD"></mat-divider>
    <div [hidden]="nodata">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="margin-top: 50px;">
            <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr No.</th>
                <td mat-cell *matCellDef="let element">{{dataSource.filteredData.indexOf(element) + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="appointment_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let element">{{element.appointment_date}}</td>
            </ng-container>

            <ng-container matColumnDef="appointment_time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                <td mat-cell *matCellDef="let element">{{element.appointment_time}}</td>
            </ng-container>

            <ng-container matColumnDef="patient_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell class="app-patient-name" *matCellDef="let element">{{element.patient_name | titlecase}}</td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                <td mat-cell *matCellDef="let element">{{ element.age ? element.age : "--" }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let element">
                    <img src="../../../../assets/images/walk.png" *ngIf="element.type == 'Walk-in'">
                    <span *ngIf="element.type != 'Walk-in'" style="color: #52af50;font-size: 25px;"><i class="fa fa-video-camera"></i></span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'status-complete': element.status == '6', 'status-pending': element.status == '1'}">{{ element.appointment_status }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons style="box-shadow: 0px 3px 6px #00000026;">
        </mat-paginator>
    </div>
    <div *ngIf="nodata" class="dash-no-data">
        <img src="../../../assets/images/dash-no-appointment.png">
        <p>You have no scheduled appoitment for today.</p>
        <button mat-raised-button color="primary" class="save-button" routerLink="../addpatient">Schedule an Appointment</button>
    </div>
</div>