.top-section {
    background-color: #f8f6f6;
    padding: 0px 50px;
}

.main-title {
    font-size: 22px;
    color: #232f44;
    padding: 48px 0px 0px 0px;
    margin-top: 0px;
}

.cards-section {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-cards {
    background-color: #f8f6f6 !important;
    box-shadow: none;
    display: flex;
    border: none;
}

.card-image {
    width: 145px;
    height: 145px;
}

.description {
    margin-left: 43px;
}

.card-number {
    color: #fbb804;
    font-size: 40px;
    margin: 10px 0px 5px 0px;
}

.card-link {
    color: #743bd6;
    font-size: 22px;
    margin: 0px;
}

.card-role {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

.add-button {
    position: absolute;
    top: 25px;
    right: -57px;
    background-color: #743bd6;
    color: #ffffff;
    border: 0px;
    border-radius: 20px;
    border-radius: 30px;
    font-size: 25px;
    height: 45px;
    width: 45px;
}

.graph-section {
    display: flex;
    padding: 0px 106px;
}

.graph {
    box-shadow: 0px 3px 6px #00000026;
    border-radius: 8px;
    margin-top: 53px;
    margin-right: 50px;
}

.table-section {
    width: 100%;
    padding: 0px 60px;
    margin-bottom: 122px;
}

.app-patient-name {
    width: 150px;
    text-align: left;
}

table {
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 6px #00000026;
}

.mat-header-row {
    background-color: #0049B0;
}

.status-complete {
    color: #32a75d;
}

.status-pending {
    color: #e3513f;
}

th.mat-header-cell {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-align: left !important;
    width: 100px;
    color: white;
}

td.mat-cell {
    text-align: left !important;
}

.divider {
    color: #d5cdcd;
    margin: 0px 2% 0px 6%;
}

.graph-title {
    font-size: 22px;
    margin-top: 54px;
}

@media (min-width: 1440px) and (max-width: 1600px) {
    .top-section {
        padding: 0px 80px;
    }
    .cards-section {
        justify-content: center;
    }
    .card-image {
        width: 120px;
        height: 120px;
    }
    .description {
        margin-left: 35px;
    }
    .divider {
        margin: 0px 2% 0px 5%;
    }
    .add-button {
        top: 30px;
        right: -40px;
        font-size: 22px;
        height: 30px;
        width: 30px;
    }
    .graph-section {
        padding: 0px 80px;
    }
    .table-section {
        padding: 0px 80px;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .top-section {
        padding: 0px 50px;
    }
    .cards-section {
        justify-content: center;
    }
    .card-image {
        width: 120px;
        height: 120px;
    }
    .card-number {
        font-size: 32px;
    }
    .card-role {
        font-size: 18px;
    }
    .card-link {
        font-size: 18px;
    }
    .description {
        margin-left: 35px;
    }
    .divider {
        margin: 0px 0% 0px 5%;
    }
    .add-button {
        top: 30px;
        right: -40px;
        font-size: 23px;
        height: 30px;
        width: 30px;
    }
    .graph-section {
        padding: 0px 50px;
    }
    .table-section {
        padding: 0px 50px;
    }
}

.dash-no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #969696;
    font-size: 24px;
}

.save-button {
    width: 183px;
    height: 40px;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 13px;
    background-color: #1C3E60;
    border: 0px;
    border-radius: 0px;
}