<div class="lab-div">

    <div class="lab-right-div">
        <div style="background: #F4F5F7;">
            <app-patient-history-sidenav></app-patient-history-sidenav>
        </div>
        <div class="lab-position">
            <div class="lab-row">
                <div class="lab-label-position">
                    <label class="lab-label">Lab Reports</label>
                </div>
            </div>

            <div class="details-position">
                <mat-table [dataSource]="dataSource" class="appointment-list">

                    <ng-container matColumnDef="health">
                        <mat-header-cell *matHeaderCellDef> Health/Lab </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.health}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="readings">
                        <mat-header-cell *matHeaderCellDef> readings </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.readings}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="treatedby">
                        <mat-header-cell *matHeaderCellDef> Treated By </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.treatedby}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <div class="add-reports-position-div">
                <div class="add-reports-position">
                    <button class="mat-submit-button" (click)="openAddLabReports()">Add Lab Reports</button>
                </div>
            </div>
        </div>
    </div>
</div>