.lab-div {
    display: flex;
    flex-direction: row;
}

.lab-right-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.lab-position {
    margin-left: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lab-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 67px;
}

.lab-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.lab-label {
    color: #1C3E60;
    font-weight: 500;
}

.details-position {
    margin-top: 19px;
    margin-right: 62px;
}

.appointment-list {
    width: 99%;
    border: 1px solid #E2E2E2;
}

.mat-column-type {
    max-width: 100px;
}

.mat-column-severity {
    max-width: 500px;
}

.mat-column-reactiondescription {
    justify-content: flex-start;
}

.add-reports-position-div {
    text-align: end;
    margin-left: 1055px;
    bottom: 90px;
    position: absolute;
}