.parentdiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F3;
  justify-content: center;
}

.card-signin {
  width: 469px;
  height: 433px;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 10px;
  margin: 0 auto;
}

.title-line-position {
  text-align: center;
}

.title-line {
  font-size: 20px;
  color: #E8192E;
  font-weight: 600;
}

.signin-button-position {
  flex: 1;
}

.action-button {
  display: flex;
  margin-top: 25px;
  text-align: right;
  padding-right: 7%;
}


.or {
  margin-top: 30px;
}

.or p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #66727E;
}

.or p span {
  background: #fff;
  padding: 0 10px;
}

.form-position {
  text-align: center;
  margin-top: 25px !important;
}

#matField {
  width: 383px !important;
  background-color: #ffffff !important;
  border-radius: 5px;
}


.signin-btn {
  background-color: #0049B0;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  border: 0px;
}

.password-reset {
  background: #ffffff;
  width: 125px;
  height: 40px;
  color: #66727E;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 10px;
}

.sign-google {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 37px;
  text-align: -webkit-center;
}

.sign-google-button {
  width: 203px;
  height: 40px;
  background-color: #3A91F7;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  border: 0px;
}

.redirect-signup {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.redirect-signup p {
  margin-left: 121px;
  letter-spacing: 0;
  color: #485867;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.redirect-signup button {
  background-color: #ffffff;
  border: none;
  color: #0049B0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.google-button {
  background: #3A91F7;
  width: 245px;
  height: 40px;
  display: flex;
  border: 1px solid #3A91F7;
}

.google-logo {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}

.google-image {
  vertical-align: -webkit-baseline-middle;
}

.redirect-login-position {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  justify-content: center;
}

.redirect-login-label {
  color: #485867;
  font-size: 14px;
  font-weight: 400;
}

.redirect-login-button {
  color: #0049B0 !important;
  font-size: 14px;
  font-weight: 400;
}
