<div class="parentdiv">
    <div class="title-line-position">
        <p class="title-line">Sign in to Heallify!</p>
    </div>

    <mat-card class="card-signin">
        <div class="form-position">
            <form [formGroup]="formLogin" fxLayout="column">
                <mat-form-field appearance="standard" id="matField">
                    <input matInput class="mat-input-fields" id="matField" placeholder="Email" formControlName="email">
                    <app-validations *ngIf="formLogin.controls['email'].touched" [validatingFields]="formLogin.controls['email']">
                    </app-validations>
                </mat-form-field>

                <mat-form-field appearance="standard" id="matField">
                    <input type="password" matInput class="mat-input-fields" id="matField" placeholder="Password" formControlName="password">
                    <app-validations *ngIf="formLogin.controls['password'].touched" [validatingFields]="formLogin.controls['password']"></app-validations>
                </mat-form-field>
            </form>
        </div>

        <div class="action-button">
            <div class="signin-button-position">
                <button mat-button class="signin-btn" (click)="OnLogin()">Sign in</button>
            </div>
            <a mat-button class="password-reset" href="/forgetpassword">Forgot Password?</a>
        </div>
        <div class="or">
            <p><span>Or</span></p>
        </div>

        <div class="sign-google">
            <div class="google-button">
                <div class="google-logo">
                    <span>
            <img src="../../../assets/images/google.svg" class="google-image">
          </span>
                </div>
                <div>
                    <button mat-button class="sign-google-button">Sign in with Google</button>
                </div>
            </div>
        </div>
        <div class="redirect-login-position">
            <label class="redirect-login-label">Don't have an account?</label> &nbsp;
            <a class="redirect-login-button" href="/signup">Sign Up</a>
        </div>
    </mat-card>
</div>