<mat-card class="card-signup">
    <form [formGroup]="verifyForm" class="form-position">

      <label class="input-title">Mobile number</label>
      <mat-form-field appearance="standard" class="matField">
        <input matInput type="tel" class="mat-input-fields matField" formControlName="mobile">
        <app-validations *ngIf="verifyForm.controls['mobile'].touched"
          [validatingFields]="verifyForm.controls['mobile']"></app-validations>
      </mat-form-field>

      <label class="input-title">Enter Mobile Code</label>
      <mat-form-field appearance="standard" class="matField">
          <input type="text" matInput class="mat-input-fields matField" placeholder="Enter Password"
            formControlName="mobile_code">
        <app-validations *ngIf="verifyForm.controls['mobile_code'].touched"
          [validatingFields]="verifyForm.controls['mobile_code']"></app-validations>
      </mat-form-field>
    </form>

    <div class="action-button">
      <div class="signin-button-position">
        <button mat-button class="signin-btn" (click)="onSignup()" [disabled]="!verifyForm.valid">Sign
          Up</button>
      </div>
    </div>

    <div class="terms-label-position">
      <label class="terms-label"> By signing up, you agree to our Terms and conditions, and Privacy Policy</label>
    </div>

    <div class="redirect-login-position">
      <label class="redirect-login-label">Already have an account?</label> &nbsp;
      <a class="redirect-login-button" href=""> Login</a>
    </div>
  </mat-card>