.labtest-div {
  display: flex;
  flex-direction: row;
}

.labtest-right-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.labtest-form-position {
  margin-left: 23px;
  width: 100%;
}

.add-labtest-row {
  display: flex;
  flex-direction: row;
}

.labtest-label-position {
  flex: 1;
  margin: 18px 0px 0px 0px;
}

.labtest-label {
  color: #1C3E60;
  font-weight: 500;
}

.details-position {
  margin-top: 46px;
}

#matField {
  width: 284px !important;
  margin-right: 25px;
}

.action-button-position {
  display: flex;
  margin-top: 10%;
  justify-content: flex-end;
  margin-right: 4%;
}

.button-space {
  margin-left: 30px;
}

#summaryButton {
  width: 262px;
}

#saveButton {
  width: 168px;
}

.labtest-table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #E2E2E2;
  border-collapse: collapse;
  padding: 10px 10px 10px 10px;
}

.header-title {
  font-size: 13px;
  color: #4D5D91;
  font-weight: 600;
  height: 38px;
}

.column-width {
  width: 472px;
}

#type-control {
  width: 472px !important;
  height: 84px !important;
}

#description-control {
  width: 472px !important;
  height: 84px !important;
}

// #description-control-header {
//   width: 472px !important;
// }

.delete-position {
  text-align: center;
}

.delete-button {
  border: 1px solid #CDD9E3;
  background-color: transparent;
  padding: 3px 0px 0px 0px;
  width: 30px;
  height: 30px;
}

.addallergy-position {
  margin-top: 82px;
  text-align: right;
  margin-right: 4%;
}

.remove-icon {
  font-family: "Material Icons";
  font-style: normal;
  font-size: 22px;
  display: inline-block;
  color: #849FB4;
  cursor: pointer;
}

@media screen and (min-width:760px) and (max-width:770px) {

  #type-control {
    width: 205px !important;
  }

  #description-control {
    width: 205px !important;
  }

}

@media screen and (width:1024px) {
  #type-control {
    width: 330px !important;
  }

  #description-control {
    width: 335px !important;
  }
}
