<div class="labtest-div">

    <div class="labtest-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="labtest-form-position">
            <div class="add-labtest-row">
                <div class="labtest-label-position">
                    <label class="labtest-label">Order lab test</label>
                </div>
            </div>
            <div class="details-position">

                <table class="labtest-table">
                    <tr class="labtest-header-row">
                        <th class="header-title">Lab Test</th>
                        <th class="header-title">Notes</th>
                        <th class="header-title"></th>
                    </tr>

                    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                        <td class="column-width">
                            <textarea [(ngModel)]="dynamicArray[i].labtests" class="mat-input-fields" id="type-control" type="text"></textarea>
                        </td>
                        <td class="column-width">
                            <textarea [(ngModel)]="dynamicArray[i].notes" class="mat-input-fields" id="description-control"></textarea>
                        </td>
                        <td class="delete-position">
                            <button class="delete-button">
                                <i class="material-icons" (click)="deleteRow(i)" class="remove-icon">delete_outline</i>
                            </button>
                        </td>
                    </tr>
                </table>

                <div class="addallergy-position">
                    <button type="button" mat-button class="mat-submit-button" (click)="addRow()">Add Test</button>
                </div>
            </div>

            <app-ehr-action-bar></app-ehr-action-bar>
        </div>
    </div>