<div class="profile-div">
    <div class="form">
        <div class="top-labels-position" *ngIf="isFirstLogin">
            <label class="top-labels">Welcome to Heallify! Thank you for signing up.</label>
            <label class="top-labels">
                We are going to take you through a few minutes setup to enable the features and benefits of Heallify.
            </label>
        </div>

        <div class="title">
            <img src="../../../../assets/images/Mask Group 1.svg" class="user-icon">
            <label class="heading">Configure your profile</label>
        </div>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Basic Information
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- <div class="verification">
                    <mat-card class="form-profile">
                        <label class="title-line">
                            Verify your Email and Mobile Number
                        </label>
                        <div class="contact-form">

                            <div class="Email">
                                <mat-form-field appearance="standard" id="matField">
                                    <mat-label>Email Address</mat-label>
                                    <input matInput class="mat-input-fields" id="checkEmail" (keypress)="enableCodeBtn($event)" [(ngModel)]="userEmail" #checkEmail="ngModel" value="{{userDetails.email}}">
                                    <mat-icon matSuffix>
                                        <img src="../../../../assets/images/edit_side.svg" class="edit-icon">
                                    </mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="standard" id="matField" *ngIf="enableEmailVerifyBtn">
                                    <mat-label>Verification Code</mat-label>
                                    <input matInput class="mat-input-fields" id="emailVerifyCode" [(ngModel)]="email_code" #emailVerifyCode="ngModel">
                                </mat-form-field>
                                <div class="verified-checkmark" *ngIf="verifiedEmail">
                                    <span><i class="fa fa-check"></i></span>
                                </div>
                                <button type="button" mat-button class="mat-submit-button" *ngIf="enableGetCode" (click)="getEmailChangeCode()" id="matbutton">Get Code to Verify</button>
                                <button type="button" mat-button class="mat-submit-button" *ngIf="enableEmailVerifyBtn" (click)="verifyEmail()" id="matbutton">Verify</button>
                            </div>

                            <div class="Mobile">
                                <mat-form-field appearance="standard" id="matField">
                                    <mat-label>Mobile Number</mat-label>
                                    <input matInput class="mat-input-fields" id="checkMobile" [(ngModel)]="userMobile" (keypress)="enableMobileCodeBtn($event)" #checkMobile="ngModel" value="{{userDetails.mobile}}">
                                    <mat-icon matSuffix>
                                        <img src="../../../../assets/images/edit_side.svg" class="edit-icon">
                                    </mat-icon>
                                </mat-form-field>
                                <mat-form-field appearance="standard" id="matField" *ngIf="enableMobileVerifyBtn">
                                    <mat-label>Verification Code</mat-label>
                                    <input matInput class="mat-input-fields" id="mobileVerifyCode" [(ngModel)]="mobile_code" #mobileVerifyCode="ngModel">
                                </mat-form-field>
                                <div class="verified-checkmark" *ngIf="verifiedMobile">
                                    <span><i class="fa fa-check"></i></span>
                                </div>
                                <button type="button" mat-button class="mat-submit-button" *ngIf="enableMobileGetCode" (click)="getMobileChangeCode()" id="matbutton">Get Code to Verify</button>
                                <button type="button" mat-button class="mat-submit-button" *ngIf="enableMobileVerifyBtn" (click)="verifyMobile()" id="matbutton">Verify</button>
                            </div>

                            <div class="code">
                                <div class="code-label-position">
                                    <label class="code-label" style="font-size: 13px">
                                        Enter your code here
                                    </label>
                                </div>
                                <div class="otp">
                                    <input matInput maxlength="1" class="otp-code" #otpcode (keyup)="keypress($event)">
                                    <input matInput maxlength="1" class="otp-code" (keyup)="keypress($event)">
                                    <input matInput maxlength="1" class="otp-code" (keyup)="keypress($event)">
                                    <input matInput maxlength="1" class="otp-code">
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div> -->

                <div class="basic-details-card-position">
                    <mat-card class="basic-form">
                        <div class="title">
                            <p class="title-line">
                                Basic Details
                            </p>
                        </div>
                        <div class="Form-deets">
                            <div class="form-details" class="flex-container">
                                <form [formGroup]="basicDetailsForm">
                                    <mat-form-field appearance="standard" id="matFieldbasic">
                                        <mat-label>First Name</mat-label>
                                        <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('first_name').errors) || basicDetailsForm.get('first_name').errors && (basicDetailsForm.get('first_name').touched || basicDetailsForm.get('first_name').dirty)}"
                                            formControlName="first_name" required>
                                        <div *ngIf="basicDetailsForm.get('first_name').errors && (basicDetailsForm.get('first_name').touched || basicDetailsForm.get('first_name').dirty)" class="invalid-feedback">
                                            <div *ngIf="basicDetailsForm.get('first_name').errors.required">* First Name is required</div>
                                        </div>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" id="matFieldbasic">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('last_name').errors) || basicDetailsForm.get('last_name').errors && (basicDetailsForm.get('last_name').touched || basicDetailsForm.get('last_name').dirty)}"
                                            formControlName="last_name" required>
                                        <div *ngIf="basicDetailsForm.get('last_name').errors && (basicDetailsForm.get('last_name').touched || basicDetailsForm.get('last_name').dirty)" class="invalid-feedback">
                                            <div *ngIf="basicDetailsForm.get('last_name').errors.required">* Last Name is required</div>
                                        </div>
                                    </mat-form-field>

                                    <mat-form-field appearance="none" id="dob">
                                        <mat-label>Date of birth</mat-label>
                                        <input matInput [ngClass]="{'mat-custom-date-input':true,'has-error': (submitted && basicDetailsForm.get('date_of_birth').errors) || basicDetailsForm.get('date_of_birth').errors && (basicDetailsForm.get('date_of_birth').touched || basicDetailsForm.get('date_of_birth').dirty)}"
                                            formControlName="date_of_birth" [matDatepicker]="picker" placeholder="Choose a date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <div *ngIf="basicDetailsForm.get('date_of_birth').errors && (basicDetailsForm.get('date_of_birth').touched || basicDetailsForm.get('date_of_birth').dirty)" class="invalid-feedback">
                                            <div *ngIf="basicDetailsForm.get('date_of_birth').errors.required">* Date is required</div>
                                        </div>
                                        <!-- <div *ngIf="bdForm.date_of_birth.errors" class="invalid-feedback">
                                            <div *ngIf="bdForm.date_of_birth.errors.required">Date is required</div>
                                        </div> -->
                                    </mat-form-field>

                                    <mat-form-field id="matFieldsmall">
                                        <mat-label>Gender</mat-label>
                                        <mat-select [ngClass]="{'mat-select-fields':true,'has-error': (submitted && basicDetailsForm.get('gender').errors) || basicDetailsForm.get('gender').errors && (basicDetailsForm.get('gender').touched || basicDetailsForm.get('gender').dirty)}" formControlName="gender"
                                            required>
                                            <mat-option *ngFor="let gender of genders" [value]="gender">
                                                {{gender}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="basicDetailsForm.get('gender').errors && (basicDetailsForm.get('gender').touched || basicDetailsForm.get('gender').dirty)" class="invalid-feedback">
                                            <div *ngIf="basicDetailsForm.get('gender').errors.required">* Gender is required</div>
                                        </div>
                                    </mat-form-field>


                                    <mat-form-field appearance="standard" id="matFieldAddress">
                                        <mat-label>Address Line</mat-label>
                                        <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('address').errors) || basicDetailsForm.get('address').errors && (basicDetailsForm.get('address').touched || basicDetailsForm.get('address').dirty)}" id="matFieldAddress"
                                            formControlName="address" required>
                                        <div *ngIf="basicDetailsForm.get('address').errors && (basicDetailsForm.get('address').touched || basicDetailsForm.get('address').dirty)" class="invalid-feedback">
                                            <div *ngIf="basicDetailsForm.get('address').errors.required">* Address is required</div>
                                        </div>
                                    </mat-form-field>


                                    <div>

                                        <mat-form-field appearance="standard" id="matFieldsmall">
                                            <mat-label>City</mat-label>
                                            <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('city').errors) || basicDetailsForm.get('city').errors && (basicDetailsForm.get('city').touched || basicDetailsForm.get('city').dirty)}" formControlName="city"
                                                required>
                                            <div *ngIf="basicDetailsForm.get('city').errors && (basicDetailsForm.get('city').touched || basicDetailsForm.get('city').dirty)" class="invalid-feedback">
                                                <div *ngIf="basicDetailsForm.get('city').errors.required">* City is required</div>
                                            </div>
                                        </mat-form-field>

                                        <mat-form-field id="matFieldsmall">
                                            <mat-label>State</mat-label>
                                            <mat-select [ngClass]="{'mat-select-fields':true,'has-error': (submitted && basicDetailsForm.get('state').errors) || basicDetailsForm.get('state').errors && (basicDetailsForm.get('state').touched || basicDetailsForm.get('state').dirty)}" formControlName="state"
                                                required>
                                                <mat-option *ngFor="let state of states" [value]="state">
                                                    {{state}}
                                                </mat-option>
                                            </mat-select>
                                            <div *ngIf="basicDetailsForm.get('state').errors && (basicDetailsForm.get('state').touched || basicDetailsForm.get('state').dirty)" class="invalid-feedback">
                                                <div *ngIf="basicDetailsForm.get('state').errors.required">* State is required</div>
                                            </div>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" id="matFieldsmall">
                                            <mat-label>Zip Code</mat-label>
                                            <input matInput class="mat-input-fields" (keypress)="isNumberKey($event)" formControlName="zip">
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" id="matFieldsmall">
                                            <mat-label>Country</mat-label>
                                            <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('country').errors) || basicDetailsForm.get('country').errors && (basicDetailsForm.get('country').touched || basicDetailsForm.get('country').dirty)}" formControlName="country"
                                                required>
                                            <div *ngIf="basicDetailsForm.get('country').errors && (basicDetailsForm.get('country').touched || basicDetailsForm.get('country').dirty)" class="invalid-feedback">
                                                <div *ngIf="basicDetailsForm.get('country').errors.required">* Country is required</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field appearance="standard" id="matFieldbasic">
                                            <mat-label>Registration Id</mat-label>
                                            <input matInput class="mat-input-fields" formControlName="registration_id">
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" id="matFieldbasic">
                                            <mat-label>Experience in years</mat-label>
                                            <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('experience').errors) || basicDetailsForm.get('experience').errors && (basicDetailsForm.get('experience').touched || basicDetailsForm.get('experience').dirty)}"
                                                formControlName="experience" required>
                                            <div *ngIf="basicDetailsForm.get('experience').errors && (basicDetailsForm.get('experience').touched || basicDetailsForm.get('experience').dirty)" class="invalid-feedback">
                                                <div *ngIf="basicDetailsForm.get('experience').errors.required">* Experience is required</div>
                                            </div>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" id="matFieldbasic">
                                            <mat-label>Aadhar number</mat-label>
                                            <input matInput [ngClass]="{'mat-input-fields':true,'has-error': (submitted && basicDetailsForm.get('aadhar_id').errors) || basicDetailsForm.get('aadhar_id').errors && (basicDetailsForm.get('aadhar_id').touched || basicDetailsForm.get('aadhar_id').dirty)}"
                                                formControlName="aadhar_id" required>
                                            <div *ngIf="basicDetailsForm.get('aadhar_id').errors && (basicDetailsForm.get('aadhar_id').touched || basicDetailsForm.get('aadhar_id').dirty)" class="invalid-feedback">
                                                <div *ngIf="basicDetailsForm.get('aadhar_id').errors.required">* Aadhar is required</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep('basic')">Next</button>
                </mat-action-row>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Education
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="education-card-position">
                    <mat-card class="education-form">
                        <div class="add">
                            <div class="title">
                                <p class="title-line">
                                    Education
                                </p>
                            </div>
                            <div class="add-button">
                                <button type="button" mat-button class="mat-submit-button" id="matbutton" (click)="openAddEduDialog(null)">Add</button>
                            </div>
                        </div>
                        <div class="form-details" *ngFor="let education of userDetails.education">
                            <div class="education-details">
                                <label class="education-details-label"> {{education.institution}}</label>
                            </div>
                            <div class="education-details" id="matfieldsmall">
                                <label class="education-details-label"> {{education.study}}</label>
                            </div>
                            <div class="education-details" id="matfieldsmall">
                                <label class="education-details-label"> {{education.year}}</label>
                            </div>
                            <div class="edit">
                                <button (click)="openAddEduDialog(education)" class="edu-edit-icon">
                            <img src="../../../../assets/images/edit-2.svg" style="padding: 5px 0px 0px 0px;">
                            </button>
                            </div>
                            <div class="edit" style="margin-left:10px; ">
                                <button class="edu-edit-icon" (click)="removeEducationById(education.id)">
                                <img src="../../../../assets/images/trash-2.svg" style="padding: 5px 0px 0px 0px;">
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep('education')">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Language, Membership, Specialization
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="membership-card-position">
                    <mat-card class=membrship-form>
                        <div class="title">
                            <p class="title-line">
                                Membership
                            </p>
                        </div>
                        <div class="membership-input">
                            <mat-form-field appearance="standard" id="matFieldmembership">
                                <mat-label>Membership</mat-label>
                                <input type="text" #membershipInput class="mat-input-fields" placeholder="Search Membership" id="matFieldmembership" matInput (keyup)="filterList('membership', $event.target.value)" [matAutocomplete]="membership">
                                <mat-autocomplete #membership="matAutocomplete" (optionSelected)="onSelection('membership', $event.option.value.id)">
                                    <mat-option *ngFor="let membership of filteredMemberships" [value]="membership" (click)="membershipInput.value=''">
                                        {{membership.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-icon matSuffix>
                                    <img src="../../../../assets/images/search (2).svg" class="edit-icon">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div style="display: flex;flex-wrap: wrap;">
                            <div class="education-details" *ngFor="let memberships of userDetails.memberships">
                                <label class="education-details-label"> {{memberships.name}}</label>
                                <div class="delete-icon-position" (click)="removeMembershipById(memberships.id)">
                                    <i class="material-icons" id="delete-icon">
                                        highlight_off
                                    </i>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="membership-card-position">
                    <mat-card class=membrship-form>
                        <div class="title">
                            <p class="title-line">
                                Specialization
                            </p>
                        </div>
                        <div class="membership-input">
                            <mat-form-field appearance="standard" id="matFieldmembership">
                                <mat-label>Specialization</mat-label>
                                <input type="text" #specilizationInput class="mat-input-fields" placeholder="Search Specialization" id="matFieldmembership" matInput (keyup)="filterList('specialization', $event.target.value)" [matAutocomplete]="specilization">
                                <mat-autocomplete #specilization="matAutocomplete" (optionSelected)="onSelection('specialization', $event.option.value.id)" [displayWith]="displayFn">
                                    <mat-option *ngFor="let specilization of filteredSpecilization" [value]="specilization" (click)="specilizationInput.value=''">
                                        {{specilization.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-icon matSuffix>
                                    <img src="../../../../assets/images/search (2).svg" class="edit-icon">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div style="display: flex;flex-wrap: wrap;">
                            <div class="education-details" *ngFor="let specialization of userDetails.specializations">
                                <label class="education-details-label"> {{specialization.name}}</label>
                                <div class="delete-icon-position" (click)="removeSpeciliation(specialization.id)">
                                    <i class="material-icons" id="delete-icon">
                                        highlight_off
                                    </i>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="membership-card-position">
                    <mat-card class=membrship-form>
                        <div class="title">
                            <p class="title-line">
                                Languages
                            </p>
                        </div>
                        <div class="membership-input">
                            <mat-form-field appearance="standard" id="matFieldmembership">
                                <mat-label>Languages</mat-label>
                                <input type="text" #languageInput class="mat-input-fields" placeholder="Search Languages" id="matFieldmembership" matInput (keyup)="filterList('languages', $event.target.value)" [matAutocomplete]="language">
                                <mat-autocomplete #language="matAutocomplete" (optionSelected)="onSelection('language', $event.option.value.id)" [displayWith]="displayFn">
                                    <mat-option *ngFor="let language of filterLanguages" [value]="language" (click)="languageInput.value=''" (keyup)="languageInput.value=''">
                                        {{language.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-icon matSuffix>
                                    <img src="../../../../assets/images/search (2).svg" class="edit-icon">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div style="display: flex;flex-wrap: wrap;">
                            <div class="education-details" *ngFor="let languages of userDetails.languages">
                                <label class="education-details-label"> {{languages.name}}</label>
                                <div class="delete-icon-position" (click)="removeLanguageById(languages.id)">
                                    <i class="material-icons" id="delete-icon">
                                        highlight_off
                                    </i>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep('lms')">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Upload Profile Picture
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="profile-card-position">
                    <mat-card class="profile-card">
                        <div class="title">
                            <p class="title-line">
                                Upload Profile Picture<span>(JPG,PNG,JPEG)</span>
                            </p>
                        </div>

                        <div class="preview-images-position">
                            <div class="fields-space">
                                <input style="display: none" type="file" accept=".png, .jpg, .jpeg" (change)="onImageUpload($event)" #chequeImage>
                                <img mat-card-image *ngIf="url" src="{{url}}" alt="Cancelled Cheque Image" class="preview-images">
                            </div>

                            <button type="button" mat-button class="mat-submit-button" id="matbutton" (click)="chequeImage.click()">Upload</button>
                        </div>
                    </mat-card>
                </div>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>