// .profile-div {
//   // width: 100%;
// }
.form {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.top-labels-position {
    display: flex;
    flex-direction: column;
}

.top-labels {
    text-align: left;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    opacity: 1;
    font-weight: 400;
}

.user-icon {
    width: 35px;
    height: 40px;
    margin-right: 17px;
}

.profile-form {
    margin-top: 46px;
}

#matFieldbasic {
    width: 387px;
    margin-right: 23px;
}

.form-profile {
    width: 1265px;
    height: fit-content;
}

.code-label-position {
    margin: 15px 0px;
}

.code-label {
    font-size: 13px;
    color: #1C3E60;
}

.basic-form {
    width: 1265px;
    height: fit-content;
}

#matField {
    width: 489px;
}

#matFieldAddress {
    width: 912px !important
}

#matFieldsmall {
    width: 273px;
    margin-right: 22px;
}

.heading {
    color: #1C3E60;
    font-weight: 600;
    margin-top: 5px;
}

.delete-icon-position {
    flex: 1;
    text-align: right;
    cursor: pointer;
}

#delete-icon {
    color: #CDD9E3;
    margin-top: 5px;
    margin-right: 10px;
}

.invalid-feedback {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

.title-line {
    font-size: 15px;
    color: #1C3E60;
    font-weight: 600;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.title {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title mat-icon {
    margin-right: 40px;
}

#input-email {
    font-size: 13px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    opacity: 1;
    width: 489px;
    height: 40px;
    opacity: 1;
    margin: 5px;
    font-weight: 600;
    border: 1px solid #CDD9E3;
}

#input-mobile {
    font-size: 13px;
    letter-spacing: 0;
    color: #34495E;
    width: 489px;
    height: 40px;
    margin: 5px;
    font-weight: 600;
    border: 1px solid #CDD9E3;
}

#matbutton {
    width: 121px;
    vertical-align: text-bottom;
    margin-bottom: 2px;
}

.edit-icon {
    position: absolute;
    right: 35px;
}

.basic-details-card-position {
    margin-top: 30px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.form-details input {
    margin: 10px;
}

#gender option {
    font-size: 13px;
    text-align: left;
    letter-spacing: 0;
    color: #34495E;
}

#dob {
    width: 387px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CADDF0;
    font-size: 13px;
    color: #34495E;
    font-weight: 600;
    margin-right: 23px;
}

#gender {
    width: 387px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CADDF0;
    font-size: 13px;
    color: #34495E;
    font-weight: 600;
}

#address1 {
    width: 1207px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CADDF0;
    opacity: 1;
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    opacity: 1;
    font-weight: 600;
}

#city,
#zipcode,
#state,
#country {
    width: 285px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CADDF0;
    opacity: 1;
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    font-weight: 600;
    opacity: 1;
}

#id,
#experience,
#aadhar {
    width: 387px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CADDF0;
    opacity: 1;
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    font-weight: 600;
    opacity: 1;
}

.education-card-position {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.membership-card-position {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.profile-card-position {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.profile-card {
    flex-direction: column;
    width: 1265px;
    height: fit-content;
}

.education-form {
    flex-direction: column;
    width: 1265px;
    // height: 187px;
}

.membrship-form {
    flex-direction: column;
    width: 1265px;
    // height: 187px;
}

#matFieldmembership {
    width: 1074px !important;
}

.form-details {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.verified-checkmark {
    background-color: #52af50;
    color: white;
    font-size: 15px;
    display: inline-block;
    border-radius: 50%;
    padding: 3px 3px;
    width: 24px;
    height: 24px;
    text-align: center;
    position: relative;
    top: -12px;
}

.education-details {
    display: flex;
    flex-direction: row;
    width: 379px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CDD9E3;
    margin-right: 22px;
    margin-bottom: 10px;
}

.add {
    display: flex;
    flex-wrap: row wrap;
    max-width: 666px;
    justify-content: space-between;
}

.education-details-label {
    color: #849FB4;
    font-size: 13px;
    margin: 10px 0px 10px 20px;
}

#matfieldsmall {
    width: 148px;
}

.edit {
    margin: 6px 0px 0px 0px;
}

.edu-edit-icon {
    border: 1px solid #CDD9E3;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.edit mat-icon {
    margin-top: -7px;
}

.edit-button {
    width: 25px;
    height: 25px;
    padding: 0px;
    background-color: #ffffff;
    border: 1px solid #CDD9E3;
    padding-top: 2px;
}

.form-details .flex-container {
    display: flex;
    flex-flow: row wrap;
}

.membrship {
    margin: 10px;
    width: 1265px;
    height: 213px;
}

.membership-input {
    position: relative;
}

#member {
    top: 10px;
    left: 11px;
    position: absolute;
    width: 1074px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    font-weight: 600;
    opacity: 1;
    border: 1px solid #CDD9E3;
}

.specialization {
    margin: 10px;
    width: 1265px;
    height: 213px;
}

.p {
    position: relative;
}

#specialisation {
    top: 10px;
    left: 11px;
    position: absolute;
    width: 1074px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    font-weight: 600;
    opacity: 1;
    border: 1px solid #CDD9E3;
}

.languages {
    margin: 10px;
    width: 1266px;
    height: 213px;
}

.lang-input {
    position: relative;
}

#language-input {
    top: 10px;
    left: 11px;
    position: absolute;
    width: 1074px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    color: #34495E;
    font-weight: 600;
    opacity: 1;
    border: 1px solid #CDD9E3;
}

.upload {
    position: relative;
}

.pic {
    width: 1266px;
    height: 213px;
    margin: 10px;
}

#matbuttonsave {
    width: 317px;
}

.title-line span {
    letter-spacing: 0;
    color: #1C3E60;
    opacity: 1;
    font-weight: 400;
    font-size: 12px;
    width: 98px;
    height: 17px;
}

.upload-button {
    top: 10px;
    left: 25px;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #CDD9E3;
    opacity: 1;
    width: 98px;
    height: 33px;
    font-size: 10px;
    color: #1C3E60;
    font-weight: 600;
    border-radius: unset;
}

.save {
    text-align: right;
    margin-top: 60px;
}

#save-btn {
    position: absolute;
    top: 20px;
    right: 140px;
    width: 318px;
    height: 40px;
}

.code {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.otp {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.otp-code {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CDD9E3;
    opacity: 1;
    margin-left: 15px;
    text-align: center;
}

.preview-images-position {
    display: flex;
    margin-top: 10px;
    align-items: flex-end;
}

.fields-space {
    margin-top: 10px;
    margin-right: 40px;
}

.preview-images {
    width: 149px;
    height: 149px;
    margin: 0px 0px 0px 4px !important;
    border-radius: 20px;
}

@media screen and (min-width:760px) and (max-width:770px) {
    .form-profile {
        width: 635px;
    }
    .basic-form {
        width: 635px;
    }
    .education-form {
        width: 635px;
    }
    .membrship-form {
        width: 635px;
    }
    .profile-card {
        width: 635px;
    }
    .matFieldmembership {
        width: 640px !important;
    }
    #matFieldAddress {
        width: 620px !important;
    }
    #dob {
        width: 300px;
    }
    #matFieldbasic {
        width: 275px;
    }
    .save {
        margin-right: 4%;
        margin-bottom: 3%;
    }
}

@media screen and (width:1024px) {
    .form-profile {
        width: 880px;
    }
    .basic-form {
        width: 880px;
    }
    .education-form {
        width: 880px;
    }
    .membrship-form {
        width: 880px;
    }
    .membrship-form {
        width: 880px;
    }
    .profile-card {
        width: 880px;
    }
    #matFieldmembership {
        width: 880px !important;
    }
    #matFieldAddress {
        width: 860px !important;
    }
    .save {
        margin-right: 4%;
        margin-bottom: 3%;
    }
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    margin-right: 12px;
}

.mat-icon-button.mat-button-base {
    right: 8px !important;
    top: -8px !important;
}

.mat-custom-date-input {
    height: 40px;
    padding: 0 7px;
}

.mat-datepicker-toggle .mat-icon-button.mat-button-base {
    right: 6px;
    top: -10px;
}

.invalid-feedback {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

.mat-expansion-panel.mat-expansion-panel {
    margin-bottom: 16px;
}