<div class="medihist-div">

    <div class="medihist-right-div">
        <div style="background: #F4F5F7;">
            <app-patient-history-sidenav></app-patient-history-sidenav>
        </div>
        <div class="medihist-position">
            <div class="allergies-row">
                <div class="allergies-label-position">
                    <label class="allergies-label">Allergies </label>
                    <!-- <label class="allergies-sub-label"> (If there are no allergies mentioned no known allergies at
            present)</label> -->
                </div>
            </div>

            <div class="details-position">
                <mat-table [dataSource]="allergiesdataSource" class="medicalHistory-list" [hidden]="patientInfo.allergies.length == 0">
                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="severity">
                        <mat-header-cell *matHeaderCellDef> Severity </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ (element.severity > 3) ? 'High':((element.severity == 3) ? 'High': ((element.severity == 2) ? 'Medium': 'Low'))}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Reaction Description </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.description ? element.description : '--'}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="patientInfo.allergies.length == 0" class="no-appnt">
                    <img src="../../../../assets/images/no-result.png">
                    <p>
                        <span>No known allergies at present.</span>
                    </p>
                </div>
            </div>

            <div class="conditions-row">
                <div class="conditions-label-position">
                    <label class="conditions-label">Conditions </label>
                </div>
            </div>

            <div class="details-position">
                <mat-table [dataSource]="conditionsDataSource" class="medicalHistory-list" [hidden]="patientInfo.conditions.length == 0">
                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ (element.severity > 3) ? 'High':((element.severity == 3) ? 'High': ((element.severity == 2) ? 'Medium': 'Low'))}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="treatedby">
                        <mat-header-cell *matHeaderCellDef> Treated By </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.treatedby}} </mat-cell>
                    </ng-container> -->

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.description ? element.description: '--'}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="conditionsDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: conditionsDisplayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="patientInfo.conditions.length == 0" class="no-appnt">
                    <img src="../../../../assets/images/no-result.png">
                    <p>
                        <span>No known conditions at present.</span>
                    </p>
                </div>
            </div>

            <div class="medication-row">
                <div class="medication-label-position">
                    <label class="medication-label">Medication list</label>
                </div>
            </div>

            <div class="details-position">
                <mat-table [dataSource]="medicationDataSource" class="clinic-list" [hidden]="true">
                    <ng-container matColumnDef="drugname">
                        <mat-header-cell *matHeaderCellDef> Drug Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.drugname}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="strength">
                        <mat-header-cell *matHeaderCellDef> Strength </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.strength}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="frequency">
                        <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.frequency}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalintake">
                        <mat-header-cell *matHeaderCellDef> Total Intake </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.totalintake}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="medicationDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: medicationDisplayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="true" class="no-appnt">
                    <img src="../../../../assets/images/no-result.png">
                    <p>
                        <span>No known medication at present.</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>