.medihist-div {
    display: flex;
    flex-direction: row;
}

.medihist-right-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.medihist-position {
    margin-left: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.allergies-row {
    display: flex;
    flex-direction: row;
}

.allergies-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.allergies-label {
    color: #1C3E60;
    font-weight: 500;
}

.allergies-sub-label {
    font-size: 12px;
    color: #34495E;
}

.details-position {
    margin-top: 19px;
    margin-right: 62px;
}

.medicalHistory-list {
    width: 99%;
    border: 1px solid #E2E2E2;
    max-height: 206px;
    overflow: auto;
}

.mat-column-type {
    // max-width: 100px;
}

.mat-column-severity {
    // max-width: 500px;
}

.mat-column-reactiondescription {
    justify-content: flex-start;
}

.conditions-row {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
}

.conditions-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.conditions-label {
    color: #1C3E60;
    font-weight: 500;
}

.medication-row {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
}

.medication-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.medication-label {
    color: #1C3E60;
    font-weight: 500;
}

.mat-header-cell,
.mat-cell {
    justify-content: flex-start;
}

.no-appnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #696969;
    margin-top: 30px;
}