.profile-div {
    display: flex;
    flex-direction: row;
}

.profile-right-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.profile {
    margin-left: 23px;
    width: 100%;
}

.title-position {
    margin-top: 18px;
}

.title-line {
    font-size: 16px;
    color: #1C3E60;
    font-weight: 600;
}

.info {
    display: flex;
}

.user-image-position {
    margin-top: 20px;
    margin-right: 36px;
}

.user-image {
    width: 93px;
    height: 93px;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: row;
    margin-right: 75px;
}

.key-label {
    width: 50%;
}

.colon {
    width: 5%;
}

.value-label {
    width: 50%;
    font-weight: 500;
    color: #1C3E60;
    overflow-wrap: break-word;
}

.edit-btn {
    border: 1px solid #1C3E60;
    opacity: 1;
    width: 121px;
    height: 40px;
    border-radius: unset;
    font-size: 13px;
    color: #1C3E60;
}

.edit {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex: 1;
}

.verification {
    display: flex;
}

.verify {
    font-size: 13px;
    color: #27AE60;
    margin-top: 5px;
}

.mat-list-item {
    letter-spacing: 0;
    color: #849FB4;
    opacity: 1;
    font-size: 13px;
}