<div class="profile-div">
    <div class="profile-right-div">
        <div>
            <app-setting-sidenav></app-setting-sidenav>
        </div>
        <div class="profile">
            <div class="title">
                <label class="title-line">Profile Setting</label>
            </div>
            <div class="info">
                <div class="user-image-position">
                    <img src="../../../../assets/images/user-image2x.png" alt="ker" class="user-image">
                </div>
                <div class="details">
                    <div class="fields">
                        <mat-list>
                            <mat-list-item>
                                <div class="key-label">Full name</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.first_name}} {{data1.last_name}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Email id</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.email}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Mobile number</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.mobile}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Gender</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.gender == "M" ? "Male": "Female"}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Date of birth</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.date_of_birth | date: 'dd/MM/yyyy'}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Address</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{(data1.address) ? data1.address : '--'}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">State</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{(data1.state) ? data1.state : '--'}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Country</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{(data1.country) ? data1.country : '--'}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Registration id</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.registration_id}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Experience</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.experience}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Aadhar number</div>
                                <div class="colon">:</div>
                                <div class="value-label">{{data1.aadhar_id}}</div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Education</div>
                                <div class="colon">:</div>
                                <div class="value-label">
                                    <table>
                                        <tr *ngFor="let edu of data1.education">
                                            <td>{{edu.institution}}, {{edu.study}}, {{edu.year}}</td>
                                        </tr>
                                    </table>

                                    <!-- {{edu.institution}}, {{edu.study}}, {{edu.year}}<br>\ -->
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Membership</div>
                                <div class="colon">:</div>
                                <div class="value-label">
                                    <span *ngFor="let membership of data1.memberships">{{membership.name + ", "}}</span>
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Specialization</div>
                                <div class="colon">:</div>
                                <div class="value-label">
                                    <span *ngFor="let spe of data1.specializations">{{spe.name + ", "}}</span>
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <div class="key-label">Languages</div>
                                <div class="colon">:</div>
                                <div class="value-label">
                                    <span *ngFor="let language of data1.languages">{{language.name + ", "}}</span>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class="edit">
                    <div class="verification">
                        <mat-icon>
                            <img src="../../../../assets/images/Group 759.svg">
                        </mat-icon>
                        <p class="verify">
                            Verified
                        </p>
                    </div>
                    <div class="editing">
                        <button mat-button class="edit-btn" (click)="navigate()">
              Edit Profile
            </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>