<div class="medical-div">

    <div class="medical-right-div">
        <div>
            <app-ehr-sidebar></app-ehr-sidebar>
        </div>
        <div class="health-form-position">
            <div class="add-medical-row">
                <div class="medical-label-position">
                    <label class="medical-label">Health Vitals</label>
                </div>
            </div>
            <div class="details-position">
                <div>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Height in Feet</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Body Temperature</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
                <div>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Weight in Kg</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Blood Pressure</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Body Mass index</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Heart Rate</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Body Fat Percentage</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Respiratory rate breath per minute</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Blood Group</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Diabetes Mg/dL</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Age</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Urea</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Lean Body Mass</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>

                    <mat-form-field appearance="standard" id="matField">
                        <mat-label>Serum Creatinine</mat-label>
                        <input matInput class="mat-input-fields">
                    </mat-form-field>
                </div>
            </div>

            <app-ehr-action-bar></app-ehr-action-bar>
        </div>
    </div>