.medical-div {
  display: flex;
  flex-direction: row;
}

.medical-right-div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.health-form-position {
  margin-left: 23px;
  width: 100%;
}

.add-medical-row {
  display: flex;
  flex-direction: row;
}

.medical-label-position {
  flex: 1;
  margin: 18px 0px 0px 0px;
}

.medical-label {
  color: #1C3E60;
  font-weight: 500;
}

.details-position {
  margin-top: 46px;
}

#matField {
  width: 284px !important;
  margin-right: 25px;
}

.action-button-position {
  display: flex;
  margin-top: 10%;
  justify-content: flex-end;
  margin-right: 4%;
}

.button-space {
  margin-left: 30px;
}

#summaryButton {
  width: 262px;
}

#saveButton {
  width: 168px;
}

@media screen and (min-width:760px) and (max-width:1024px) {

  .action-button-position {
    margin-bottom: 20px;
  }

}
