<!-- <app-action-toolbar></app-action-toolbar> -->
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav">
        <app-side-navigation (sidenav)="sidenav.close()"></app-side-navigation>
    </mat-sidenav>

    <div class="example-sidenav-content">

        <app-dashboardflex (sideNav)="sidenav.open()"></app-dashboardflex>

    </div>

</mat-sidenav-container>