@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    bottom: 0;
}

.mat-input-fields {
    width: 513px !important;
    height: 40px !important;
    background-color: #ffffff !important;
    color: #1C3E60 !important;
    padding-left: 7px !important;
    font-size: 13px !important;
    border: solid #CDD9E3 !important;
    border-width: 1px 1px !important;
    font-weight: 400 !important;
}

.mat-select-fields {
    height: 40px !important;
    background-color: #ffffff !important;
    color: #34495E !important;
    font-family: "poppins", sans-serif !important;
    padding-left: 7px !important;
    font-size: 13px !important;
    border: solid #CDD9E3 !important;
    border-width: 1px 1px !important;
    vertical-align: bottom;
}

.mat-form-field-underline {
    height: 0px !important;
}

.mat-form-field-infix {
    padding: 2px 0 !important;
    border-top: 0em solid transparent !important;
}

.mat-form-field-appearance-standard .mat-form-field-underline,
.mat-form-field-ripple {
    bottom: 0;
    height: 0px;
    height: 0px !important;
    background-color: transparent !important;
}

.mat-submit-button {
    color: #ffffff;
    background-color: #1C3E60;
    width: 183px;
    height: 40px;
    border-radius: 0px !important;
    font-size: 13px;
    border: 1px;
    outline: 0px;
}

.mat-cancel-button {
    color: #1C3E60;
    border: 1px solid #1C3E60 !important;
    width: 183px;
    height: 40px;
    border-radius: 0px !important;
    font-size: 13px;
    background-color: #ffffff;
}


/* // change color of mat-from-field-label */

.mat-form-field-label {
    color: #849FB4 !important;
    font-weight: 400 !important;
}


/* //change placeholder css */

.mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
    text-align: left !important;
    top: 2px !important;
    left: 10px !important;
    font-size: 12px !important;
}

.mat-dialog-container {
    padding: 0px !important;
}

.mat-checkbox-frame {
    background-color: #F8F8F8 !important;
    border-width: 1px !important;
}

.mat-checkbox-inner-container {
    margin-right: 10px !important;
}

.mat-checkbox-label {
    line-height: 24px;
    font-size: 13px;
    color: #34495E;
    font-weight: 500;
}

.mat-checkbox-checkmark-path {
    stroke: #1C3E60 !important;
}

.mat-checkbox-background {
    background-color: transparent !important;
}

.mat-row {
    min-height: 55px;
}

.mat-cell {
    color: #34495E;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

.mat-header-row {
    min-height: 38px;
}

.mat-header-cell {
    color: #4D5D91;
    font-size: 13px;
    text-align: center !important;
    justify-content: center;
}

.side-navigation-div {
    width: 52px;
    background-color: #0049B0;
}

.mat-slider-thumb {
    background-color: #EDB466 !important;
}

.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
    background-color: #EDB466;
}

.mat-select-trigger {
    top: 15px !important;
}

mat-card {
    border: 1px solid #BDD5EA;
    background-color: #fcfcfc !important;
    box-shadow: none !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #A2A2A2 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #27AE60 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1C3E60 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #1C3E60 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #1C3E60 !important;
}

// .mat-form-field-suffix {
//   white-space: nowrap;
//   flex: none;
//   position: absolute !important;
//   right: 0px;
//   top: 10px;
// }
.mat-paginator-page-size .mat-select-trigger {
    top: 0 !important;
}

.mat-icon-button.mat-button-base {
    right: 22px;
    top: -12px;
}

body>#zmmtg-root {
    display: none !important;
}