<div>
    <div class="reschedule-label-position">
        <label class="reschedule-label">Do You Really want to Reschedule the Appointment <br> of {{userName}}</label>
    </div>
    <form [formGroup]="rescheduleForm" (ngSubmit)="rescheduleAppointment(rescheduleForm.value)">
        <div class="input-position">
            <div class="">
                <mat-form-field id="dob">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="appointment_date" class="mat-select-fields">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <timepicker placeholder="Start Time" formControlName="appointment_time" id="matTimeField"></timepicker>
            </div>
            <div class="reason-textfield-position">
                <textarea rows="4" cols="50" matInput class="reason-textfield" placeholder="Reschedule Reason" formControlName="appointment_reason"></textarea>
            </div>
        </div>
        <div class="action-button-position" style="margin-bottom:25px;">
            <button type="button" mat-button class="mat-submit-button" (click)="onNoClick()" id="matbutton">No</button>
            <button type="submit" mat-button class="mat-cancel-button" id="matbutton">Yes</button>
        </div>
    </form>
</div>