#matbutton {
    width: 124px;
    height: 36px;
    margin: 0px 20px 0px 20px;
}

.reschedule-label-position {
    margin: 23px 0px 0px 31px;
}

.reschedule-label {
    color: #34495E;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 2em;
}

.action-button-position {
    margin: 36px 0px 0px 8px;
    text-align: center;
}

#dob {
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    font-size: 13px;
    color: #34495E;
    font-weight: 600;
    // margin-right: 23px;
    vertical-align: top;
}

#matTimeField {
    width: 144px;
    height: 40px;
}

.input-position {
    margin: 27px 0px 0px 26px;
}

.reason-textfield-position {
    margin-top: 40px;
}

.reason-textfield {
    width: 452px;
    height: 142px;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 12px;
}

:host ::ng-deep #matTimeField table {
    margin-top: 35px;
    width: 100%;
    text-align: center;
}

:host ::ng-deep #matTimeField table input {
    margin: auto;
}

input[type=time] {
    border: 1px solid #CDD9E3;
    color: #2a2c2d;
    font-size: 11px;
}


/* Wrapper around the hour, minute, second, and am/pm fields as well as 
  the up and down buttons and the 'X' button */

input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}


/*space between the fields - hour, minute and am/pm */

input[type=time]::-webkit-datetime-edit-text {
    padding: 4px 4px;
}


/*-webkit-datetime-edit-{field}-field`*/


/* Hour */

input[type=time]::-webkit-datetime-edit-hour-field {
    border-radius: 15%;
    padding: 4px 5px;
}


/* Minute */

input[type=time]::-webkit-datetime-edit-minute-field {
    border-radius: 15%;
    padding: 4px 10px;
}


/* AM/PM */

input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #1C3E60;
    border-radius: 15%;
    color: #fff;
    padding: 4px 10px;
}


/* reset time */

input[type=time]::-webkit-clear-button {
    display: none;
}


/* Up/Down arrows value */

input[type=time]::-webkit-inner-spin-button {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}