.appointment-div {
    display: flex;
    flex-direction: row;
}

.appointment-right-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.appointment-position {
    margin-left: 23px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.appointment-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.appointment-label-position {
    flex: 1;
    margin: 18px 0px 0px 0px;
}

.appointment-label {
    color: #1C3E60;
    font-weight: 500;
}

.details-position {
    margin-top: 19px;
    margin-right: 62px;
}

.appointment-list {
    width: 99%;
    border: 1px solid #E2E2E2;
}

.mat-column-type {
    max-width: 100px;
}

.mat-column-severity {
    max-width: 500px;
}

.mat-column-reactiondescription {
    justify-content: flex-start;
}

mat-header-cell,
mat-cell {
    max-width: 200px;
}

mat-header-cell:first-of-type,
mat-cell:first-of-type {
    padding-left: 0px;
}

.mat-see-details {
    background: white;
    border: 1px solid #1C3E60 !important;
    color: #1C3E60;
}

.status-complete {
    color: #32a75d;
}

.status-pending {
    color: #e3513f;
}

.status-noshow {
    color: #F1E00E;
}

.status-reschedule {
    color: #8733ad;
}

.no-data.ng-star-inserted {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #969696;
    font-size: 22px;
}