<div class="appointment-div">
    <div class="appointment-right-div">
        <div style="background: #F4F5F7;">
            <app-patient-history-sidenav></app-patient-history-sidenav>
        </div>
        <div class="appointment-position">
            <div class="appointment-row">
                <div class="appointment-label-position">
                    <label class="appointment-label">Appointment History</label>
                </div>
            </div>

            <div class="details-position">
                <mat-table [dataSource]="dataSource" class="appointment-list" matSort>

                    <ng-container matColumnDef="srno">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Sr. NO </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element) + 1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="appointment_date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.appointment_date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="appointment_time">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.appointment_time}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <img src="../../../../assets/images/walk.png" *ngIf="element.type == 'Walk-in'">
                            <span *ngIf="element.type != 'Walk-in'" style="color: #52af50;font-size: 25px;"><i class="fa fa-video-camera"></i></span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payment">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Payment </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.payment_status}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actionbutton">
                        <mat-header-cell *matHeaderCellDef>Visit Details</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button type="button" [hidden]="element.status == '2' || element.status == '6' || element.status == '3'" class="mat-submit-button" (click)="goToEHR(element.appointment_id,element.status)" id="matbutton">Start Visit</button>
                            <button type="button" *ngIf="element.status == '3'" class="mat-submit-button mat-see-details" id="matbutton" (click)="goToEHR(element.appointment_id,element.status)">Fill EHR</button>
                            <button type="button" *ngIf="element.status == '6'" class="mat-submit-button mat-see-details" id="matbutton" (click)="goToEHR(element.appointment_id,element.status)">See Record</button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="{'status-complete': element.status == '6', 'status-pending': element.status == '1', 'status-noshow': element.status == '7','status-reschedule': element.status == '5'}"> {{element.appointment_status}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="noData" class="no-data">
                <img src="../../../../assets/images/no-data.png">
                <p>Seems like there's no appointments for the patient yet.</p>
            </div>
        </div>
    </div>
</div>